# 시리즈 만들기

### 시리즈 만들기

In [1]:
import pandas as pd

### 시리즈 만들기

In [2]:
df=pd.Series(['Wes McKinney','Creator of Pandas'])
df

0         Wes McKinney
1    Creator of Pandas
dtype: object

### 시리즈에 인덱스 문자열로 추가하기

In [3]:
df=pd.Series(['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
df

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

### 딕셔너리 활용하여 데이터 프레임 만들기

In [4]:
df=pd.DataFrame(
    {'Name':['Rosalin Fraklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1920-08-08'],
    'Died':['1988-88-88','1988-09-09'],
    'Age':[37,61]}
)
df

              Name    Occupation        Born        Died  Age
0  Rosalin Fraklin       Chemist  1920-07-25  1988-88-88   37
1   William Gosset  Statistician  1920-08-08  1988-09-09   61

### 인덱스와 컬럼값 지정하기

In [5]:
scientists=pd.DataFrame(data=
                        {'Occupation':['Chemist','Statistician'],
                         'Born':['1920-07-26','1876-06-13'],
                         'Died':['1958-04-16','1937-10-16'],
                         'Age':[37,61]},
    index=['Rosalin Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age']
)
scientists

                    Occupation        Born        Died  Age
Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37
William Gosset    Statistician  1876-06-13  1937-10-16   61

### OrderedDict 불러오기 명령어

In [6]:
from collections import OrderedDict

### OrderedDict 활용하여 데이터 순서 지정하기

In [7]:
df=pd.DataFrame(OrderedDict([
    ('Name',['Rosalin Fraklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-25','1920-08-08']),
    ('Died',['1988-88-88','1988-09-09']),
    ('Age',[37,61])
]))
df

              Name    Occupation        Born        Died  Age
0  Rosalin Fraklin       Chemist  1920-07-25  1988-88-88   37
1   William Gosset  Statistician  1920-08-08  1988-09-09   61

# 데이터프레임에서 시리즈 선택하기

### scientists 데이터프레임 입력하기

In [8]:
scientists=pd.DataFrame(data=
                        {'Occupation':['Chemist','Statistician'],
                         'Born':['1920-07-26','1876-06-13'],
                         'Died':['1958-04-16','1937-10-16'],
                         'Age':[37,61]},
    index=['Rosalin Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age']
)
scientists

                    Occupation        Born        Died  Age
Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37
William Gosset    Statistician  1876-06-13  1937-10-16   61

### 'William Gosset' 행만 추출하여 속성 확인하기 (first_row = )

In [12]:
first_row=scientists.loc['William Gosset']
type(first_row)

pandas.core.series.Series

### 'first_row' 프린트하기

In [13]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

### 'first_row'의 index 속성 사용하기

In [15]:
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 'first_row'의 values 속성 사용하기

In [16]:
first_row.values

array(['Statistician', '1876-06-13', '1937-10-16', 61], dtype=object)

### 'first_row'의 keys 메서드 사용하기

In [19]:
first_row.keys

<bound method Series.keys of Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object>

### 'first_row'의 index 속성 중 첫 번째 값 추출하기

In [20]:
first_row.index[1]

'Born'

### 'first_row'의 keys 메서드 중 첫 번째 값 추출하기

In [24]:
first_row.keys()[0]

'Occupation'

# 시리즈의 mean, min, max, std 메서드 사용하기

### scientist 데이터프레임에서 'Ags' 컬럼만 추출하기 (ages = )

In [29]:
ages=scientists['Age']
ages

Rosalin Franklin    37
William Gosset      61
Name: Age, dtype: int64

### 'ages' 중 mean 메서드 사용하기

In [30]:
ages.mean()

49.0

### 'ages' 중 min 메서드 사용하기

In [31]:
ages.min

<bound method Series.min of Rosalin Franklin    37
William Gosset      61
Name: Age, dtype: int64>

### 'ages' 중 max 메서드 사용하기

In [32]:
ages.max()

61

### 'ages' 중 std 메서드 사용하기

In [33]:
ages.std()

16.97056274847714

# 시리즈와 불린 추출 사용하기

### 'scientists.csv' 파일 불러오기 (scientists = )

In [35]:
df=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\scientists.csv")
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 'Age' 컬럼만 추출하여 max와 mean 메서드 적용하기

In [38]:
print(df['Age'].mean())
print(df['Age'].max())

59.125
90

### 평균 나이보다 더 많은 사람의 나이 데이터만 추출하기

In [43]:
df['Age'][df['Age']>df['Age'].mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 평균 나이보다 더 많은지 True/False 확인하기

In [40]:
df['Age']>df['Age'].mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

### 불린 추출하기 (순서: True, True, False, False, True, True, False, True) (manual_bool_values = )

In [46]:
manual_bool_values =[True, True, False, False, True, True, False, True]
df['Age'][manual_bool_values]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### ages 벡터와 ages 벡터 더하기

In [47]:
ages+ages

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

### ages 벡터와 ages 벡터 곱하기

In [48]:
ages*ages

Rosalin Franklin    1369
William Gosset      3721
Name: Age, dtype: int64

### ages 벡터에 스칼라 100 더하기

In [49]:
ages+100

Rosalin Franklin    137
William Gosset      161
Name: Age, dtype: int64

### ages 벡터에 2배 곱하기

In [51]:
ages*2

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

### 시리즈 만들기 [1, 100]

In [53]:
s=pd.Series([1,100])
s

0      1
1    100
dtype: int64

### ages 벡터와 위의 시리즈 더하기

In [54]:
ages+s

Rosalin Franklin   NaN
William Gosset     NaN
0                  NaN
1                  NaN
dtype: float64

### ages 벡터를 내림 차순으로 정렬하기 (rev_ages = )

In [58]:
rev_ages=ages.sort_index(ascending=False)
rev_ages

William Gosset      61
Rosalin Franklin    37
Name: Age, dtype: int64

### ages 벡터와 rev_ages 벡터 더하기

In [59]:
ages+rev_ages

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기