In [1]:
import pandas as pd

# 시리즈 만들기

In [2]:
s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s=pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

### 인덱스에 문자열 넣기

In [4]:
s=pd.Series(['Wes Mckinney','Creator of Pandas'],index=['Person', 'Who'])
s

Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [5]:
scientists=pd.DataFrame({
    'Name':['Rosalin Franklin', 'William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]
})
scientists

               Name    Occupation        Born        Died  Age
0  Rosalin Franklin       Chemist  1920-07-25  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1937-10-16   61

### 인덱스에 문자열, 컬럼명 넣기

In [6]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
scientists

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

### 데이터프레임의 데이터 순서 보장하여 만들기

In [7]:
from collections import OrderedDict

scientists=pd.DataFrame(OrderedDict([
    ('Name',['Rosalin Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-26','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37,61])
]))
scientists

               Name    Occupation        Born        Died  Age
0  Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [8]:
scientists=pd.DataFrame(data=
                        {'Occupation':['Chemist','Statistician'],
                         'Born':['1920-07-26','1876-06-13'],
                         'Died':['1958-04-16','1937-10-16'],
                         'Age':[37,61]},
    index=['Rosalin Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age']
)
scientists

                    Occupation        Born        Died  Age
Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37
William Gosset    Statistician  1876-06-13  1937-10-16   61

### 데이터프레임에서 인덱스명 'William Gosset'의 데이터 선택하고 데이터 타입 확인하기

In [9]:
first_row=scientists.loc['William Gosset']
type(first_row)

pandas.core.series.Series

In [10]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

### 인덱스 속성 사용하기

In [11]:
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 시리즈의 데이터 확인하기

In [12]:
first_row.values

array(['Statistician', '1876-06-13', '1937-10-16', 61], dtype=object)

### 인덱스 확인히기 (2)

In [13]:
first_row.keys()

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 인덱스 첫번째 값 추출

In [14]:
first_row.index[0]

'Occupation'

### 인덱스 첫번째 값 추출(2)

In [15]:
first_row.keys()[0]

'Occupation'

# 시리즈의 mean, min, max, std 메서드 사용하기

### 'ages', 'occupations' 시리즈 생성

In [16]:
ages=scientists['Age']
ages
occupations=scientists['Occupation']

### 2개 이상의 시리즈 연결 ('age','ocupation')

In [17]:
ages.append(occupations)

Rosalin Franklin              37
William Gosset                61
Rosalin Franklin         Chemist
William Gosset      Statistician
dtype: object

### 산술평균

In [18]:
ages.mean()

49.0

### 최솟값

In [19]:
ages.min()

37

### 최대값

In [20]:
ages.max()

61

### 표준편차

In [21]:
ages.std()

16.97056274847714

### 요약통계량

In [22]:
ages.describe()

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

### 중복값제거

In [23]:
ages.drop_duplicates()

Rosalin Franklin    37
William Gosset      61
Name: Age, dtype: int64

### 시리즈에 해당값을 가진 요소가 있는지 확인

In [24]:
ages.equals(occupations)

False

### 시리즈에 포함된 값이 있는지 확인

In [25]:
ages.isin(['37'])

Rosalin Franklin     True
William Gosset      False
Name: Age, dtype: bool

### 중간값

In [26]:
ages.median()

49.0

### 특정값을 가진 시리즈로 교체

In [27]:
ages.replace(37,47)

Rosalin Franklin    47
William Gosset      61
Name: Age, dtype: int64

### 시리즈에서 임의의 값을 반환

In [28]:
ages.sample()

William Gosset    61
Name: Age, dtype: int64

### 시리즈를 데이터프레임으로 변환

In [29]:
ages.to_frame()

                  Age
Rosalin Franklin   37
William Gosset     61

### Scientists dataframe을 'Age'기준으로 내림차순 정렬

In [30]:
scientists.sort_values(by='Age',ascending=False)

                    Occupation        Born        Died  Age
William Gosset    Statistician  1876-06-13  1937-10-16   61
Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37

# 시리즈와 불린 추출 사용하기

### .csv 불러오기 (C:\\Github\\Pandas\\doit_pandas-master\\data\\scientists.csv)

In [31]:
scientists=pd.read_csv('C:\\Github\\Pandas\\doit_pandas-master\\data\\scientists.csv')

FileNotFoundError: [Errno 2] File C:\Github\Pandas\doit_pandas-master\data\scientists.csv does not exist: 'C:\\Github\\Pandas\\doit_pandas-master\\data\\scientists.csv'

### 'ages' 시리즈 만들고 최대값 구하기

In [32]:
ages=scientists['Age']
ages.max()

61

### 중간값 구하기

In [33]:
ages.mean()

49.0

### 데이터별로 평균나이보다 적은지 아닌지 보여주기

In [34]:
ages>ages.mean()

Rosalin Franklin    False
William Gosset       True
Name: Age, dtype: bool

### 평균 나이보다 나이가 많은 사람의 데이터 추출

In [35]:
ages[ages>ages.mean()]

William Gosset    61
Name: Age, dtype: int64

### 참인 인덱스의 데이터만 추출 (데이터별 참/거짓 임의 설정)

In [36]:
manual_bool_values=[[True,True,False,False,True,True,False,True]]
ages[manual_bool_values]

ValueError: PandasArray must be 1-dimensional.

# 시리즈와 브로드캐스팅

###  벡터로 더하기 연산 (age)

In [37]:
ages+ages

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

### 벡터로 곱하기 연산 (age)

In [38]:
ages*ages

Rosalin Franklin    1369
William Gosset      3721
Name: Age, dtype: int64

### 벡터에 스칼라 (100 더하기)

In [39]:
ages+100

Rosalin Franklin    137
William Gosset      161
Name: Age, dtype: int64

### 벡터에 스칼라 연산 (2 곱하기)

In [40]:
ages*2

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

### 길이가 서로 다른 벡터 연산 (age 시리즈와 pd.Series[1,100] 연산)

In [41]:
pd.Series([1,100])

0      1
1    100
dtype: int64

In [42]:
ages+pd.Series([1,100])

Rosalin Franklin   NaN
William Gosset     NaN
0                  NaN
1                  NaN
dtype: float64

### 데이터를 인덱스의 내림차순으로 정렬하기 (변수명 rev_ages)

In [43]:
rev_ages=ages.sort_index(ascending=False)
rev_ages

William Gosset      61
Rosalin Franklin    37
Name: Age, dtype: int64

### 벡터와 벡터 연산하기 (ages, rev_ages)

In [44]:
ages+rev_ages

Rosalin Franklin     74
William Gosset      122
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [45]:
scientists=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\scientists.csv")
print(scientists[scientists['Age']>scientists['Age'].mean()])
print(scientists['Age'].mean())

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
59.125

In [46]:
print(scientists.loc[[True,True,False,False,True,True,False,False]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
4      Rachel Carson  1907-05-27  1964-04-14   56     Biologist
5          John Snow  1813-03-15  1858-06-16   45     Physician

# 데이터프레임과 브로드캐스팅

In [47]:
scientists*2

,Name,Born,Died,Age,Occupation
0,Rosaline FranklinRosaline Franklin,1920-07-251920-07-25,1958-04-161958-04-16,74,ChemistChemist
1,William GossetWilliam Gosset,1876-06-131876-06-13,1937-10-161937-10-16,122,StatisticianStatistician
2,Florence NightingaleFlorence Nightingale,1820-05-121820-05-12,1910-08-131910-08-13,180,NurseNurse
3,Marie CurieMarie Curie,1867-11-071867-11-07,1934-07-041934-07-04,132,ChemistChemist
4,Rachel CarsonRachel Carson,1907-05-271907-05-27,1964-04-141964-04-14,112,BiologistBiologist
5,John SnowJohn Snow,1813-03-151813-03-15,1858-06-161858-06-16,90,PhysicianPhysician
6,Alan TuringAlan Turing,1912-06-231912-06-23,1954-06-071954-06-07,82,Computer ScientistComputer Scientist
7,Johann GaussJohann Gauss,1777-04-301777-04-30,1855-02-231855-02-23,154,MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [48]:
print(scientists['Born'].dtype)

object

In [49]:
print(scientists['Died'].dtype)

object

In [50]:
print(scientists['Age'].dtype)

int64

In [51]:
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [61]:
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [62]:
scientists['born_dt'],scientists['died_dt']=(born_datetime,died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [63]:
print(scientists.shape)

(8, 7)

In [83]:
scientists['age_years_dt']=(scientists['died_dt']-scientists['born_dt'])
scientists['age_years_dt']

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
Name: age_years_dt, dtype: timedelta64[ns]

In [84]:
print(scientists['Age'])

0    56
1    37
2    45
3    90
4    41
5    77
6    61
7    66
Name: Age, dtype: int64

# 시리즈, 데이터프레임의 데이터 섞어보기

In [85]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    90
1    41
2    61
3    66
4    45
5    77
6    56
7    37
Name: Age, dtype: int64

C:\Anaconda\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [76]:
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,41,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,56,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,66,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,45,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,90,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,77,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,37,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,61,Mathematician,1777-04-30,1855-02-23,28422 days

In [80]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 데이터프레임의 열 삭제하기

In [81]:
scientists_dropped=scientists.drop(['Age'],axis=1)
print(scientists_dropped)

                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 피클 형식으로 저장하기

In [88]:
names=scientists['Name']
names.to_pickle("C:\\Github\\Pandas\\doit\\notebook\\scientists_name_series.pickle")

In [89]:
scientists.to_pickle("C:\\Github\\Pandas\\doit\\notebook\\scientists_df.pickle")

In [92]:
scientist_names_from_pickle=pd.read_pickle("C:\\Github\\Pandas\\doit\\notebook\\scientists_name_series.pickle")
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [94]:
scientist_from_pickle=pd.read_pickle("C:\\Github\\Pandas\\doit\\notebook\\scientists_df.pickle")
print(scientist_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   45           Biologist
5             John Snow  1813-03-15  1858-06-16   77           Physician
6           Alan Turing  1912-06-23  1954-06-07   56  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   37       Mathematician

     born_dt    died_dt age_days_dt age_years_dt
0 1920-07-25 1958-04-16  13779 days   13779 days
1 1876-06-13 1937-10-16  22404 days   22404 days
2 1820-05-12 1910-08-13  32964 days   32964 days
3 1867-11-07 1934-07-04  24345 days   24345 days
4 1907-05-27 1964-04-14  20777 days   20777 days
5 1813-03-15 1858-06-16  16529 days   16529 days
6 1912-06-23 1954-06-07  15324 days   15324 days
7 1777-04-30 1855-02-23  28422 days   28422 days

# CSV 불러오기

In [96]:
names.to_csv("C:\\Github\\Pandas\\doit\\notebook\\scientists_names_series.csv")
scientists.to_csv("C:\\Github\\Pandas\\doit\\notebook\\scientists_df.tsv",sep='\t')

In [99]:
names_df=names.to_frame()

import xlwt
names_df.to_excel("C:\\Github\\Pandas\\doit\\notebook\\scientists_names_series.xls")

In [101]:
import openpyxl
names_df.to_excel("C:\\Github\\Pandas\\doit\\notebook\\scientists_df.xlsx")