In [2]:
import pandas as pd

# 시리즈 만들기

### 시리즈 만들기

In [12]:
pd.Series([0,1])

0    0
1    1
dtype: int64

### 시리즈 만들기

In [14]:
pd.Series([0,1000])

0       0
1    1000
dtype: int64

### 시리즈에 인덱스 문자열로 추가하기

In [15]:
pd.Series(
data=[1,100],
    index=[99,99]
)

99      1
99    100
dtype: int64

# 데이터프레임 만들기

### 딕셔너리 활용하여 데이터 프레임 만들기

In [19]:
pd.DataFrame({
'Name':['Ro','So'],
    'Occ':['o','p']
})

  Name Occ
0   Ro   o
1   So   p

### 인덱스와 컬럼값 지정하기

In [20]:
pd.DataFrame(
    data={'Name':['Ro','So'],
    'Occ':['o','p']  
    },
    index=[00,11],
    columns=['rr','짜증']
)

     rr   짜증
0   NaN  NaN
11  NaN  NaN

### OrderedDict 불러오기 명령어

In [21]:
from collections import OrderedDict

### OrderedDict 활용하여 데이터 순서 지정하기

In [23]:
pd.DataFrame(OrderedDict([('Name',['RR','FF']),('Occ',['DD','DD'])]))

  Name Occ
0   RR  DD
1   FF  DD

# 데이터프레임에서 시리즈 선택하기

### scientists 데이터프레임 입력하기

In [35]:
df=pd.DataFrame(data=
                        {'Occupation':['Chemist','Statistician'],
                         'Born':['1920-07-26','1876-06-13'],
                         'Died':['1958-04-16','1937-10-16'],
                         'Age':[37,61]},
    index=['Rosalin Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age']
)
df

                    Occupation        Born        Died  Age
Rosalin Franklin       Chemist  1920-07-26  1958-04-16   37
William Gosset    Statistician  1876-06-13  1937-10-16   61

### 'William Gosset' 행만 추출하여 속성 확인하기 (first_row = )

In [41]:
first_row=df.loc['William Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 'first_row' 프린트하기

In [42]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

### 'first_row'의 index 속성 사용하기

In [43]:
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 'first_row'의 values 속성 사용하기

In [44]:
first_row.values

array(['Statistician', '1876-06-13', '1937-10-16', 61], dtype=object)

### 'first_row'의 keys 메서드 사용하기

In [45]:
first_row.keys()

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 'first_row'의 index 속성 중 첫 번째 값 추출하기

In [46]:
first_row.index[0]

'Occupation'

### 'first_row'의 keys 메서드 중 첫 번째 값 추출하기

In [47]:
first_row.keys()[0]

'Occupation'

# 시리즈의 mean, min, max, std 메서드 사용하기

### scientist 데이터프레임에서 'Ags' 컬럼만 추출하기 (ages = )

In [48]:
df['Age']

Rosalin Franklin    37
William Gosset      61
Name: Age, dtype: int64

### 'ages' 중 mean 메서드 사용하기

### 'ages' 중 min 메서드 사용하기

### 'ages' 중 max 메서드 사용하기

### 'ages' 중 std 메서드 사용하기

# 시리즈와 불린 추출 사용하기

### 'scientists.csv' 파일 불러오기 (scientists = )

In [50]:
df=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\scientists.csv")
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 'Age' 컬럼만 추출하여 max와 mean 메서드 적용하기

In [51]:
df['Age'].max

<bound method Series.max of 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64>

### 평균 나이보다 더 많은 사람의 나이 데이터만 추출하기

In [53]:
df['Age'][df['Age']>df['Age'].mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 평균 나이보다 더 많은지 True/False 확인하기

In [54]:
df['Age']>df['Age'].mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

### 불린 추출하기 (순서: True, True, False, False, True, True, False, True) (manual_bool_values = )

In [57]:
df['Age'][[True, True, False, False, True, True, False, True]]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### ages 벡터와 ages 벡터 더하기

### ages 벡터와 ages 벡터 곱하기

### ages 벡터에 스칼라 100 더하기

### ages 벡터에 2배 곱하기

### 시리즈 만들기 [1, 100]

### ages 벡터와 위의 시리즈 더하기

### ages 벡터를 내림 차순으로 정렬하기 (rev_ages = )

In [58]:
rev_ages=ages.sort_index(ascending=False)

### ages 벡터와 rev_ages 벡터 더하기

In [ ]:
ages.sort_index(ascending=False)
ages.sort_index(ascending=True)

# 데이터프레임과 불린 추출

### scientists.csv 파일 불러오기 ->'Age' 중간값보다 나이가 많은 사람의 데이터 표시하기

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

### 시리즈에 bool 벡터(e.g.[True,True,False,False,True,True,False,False]) 전달하여 적용한 데이터 표시하기

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
4      Rachel Carson  1907-05-27  1964-04-14   56     Biologist
5          John Snow  1813-03-15  1858-06-16   45     Physician

# 데이터프레임과 브로드캐스팅

### scientists 데이터프레임에 2를 곱하면 무엇이될까 (열별로 데이터 추측해보라)

In [ ]:
scientists*2

# 열의 자료형 바꾸기와 새로운 열 추가하기

### scientists 데이터프레임의 'Born', 'Died', 'Age'의 자료형은 무엇일까

In [ ]:
print(scientists['Born'].dtype)

In [ ]:
print(scientists['Died'].dtype)

In [ ]:
print(scientists['Age'].dtype)

### 'born'열의 데이터를 시간관련 자료형으로 바꾸기 (변수명:born_datetime)

In [60]:
born=pd.to_datetime(df['Born'])
born

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

### 'died'열의 데이터를 시간관련 자료형으로 바꾸기 (변수명:died_datetime)

In [62]:
died=pd.to_datetime(df['Died'])

### 시간관련 자료형으로 바뀐 컬럼 데이터프레임에 추가하기 (컬럼명:born_dt,died_dt)

In [63]:
df['born'],df['died']=born,died

### scientists 데이터프레임의 행 열 개수 확인하기

In [64]:
df.shape

(8, 7)

### 살았던 날짜의 개수 계산하여 변수 지정하기(변수명:age_days_dt)

In [66]:
days=born-died
days

0   -13779 days
1   -22404 days
2   -32964 days
3   -24345 days
4   -20777 days
5   -16529 days
6   -15324 days
7   -28422 days
dtype: timedelta64[ns]

### Age 열 데이터 확인하기

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

# 시리즈, 데이터프레임의 데이터 섞어보기

### 'Age'열 데이터를 랜덤으로 섞기

In [67]:
import random

random.seed(42)
random.shuffle(df['Age'])
df['Age']

C:\Anaconda\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

### scientists 데이터프레임의 컬럼명 확인

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_years_dt'],
      dtype='object')

# 데이터프레임의 열 삭제하기

### 'Age'열 삭제하기 (변수명:scientists_dropped)

In [69]:
drop=df.drop(['Age'],axis=1)
drop

,Name,Born,Died,Occupation,born,died
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,Biologist,1907-05-27,1964-04-14
5,John Snow,1813-03-15,1858-06-16,Physician,1813-03-15,1858-06-16
6,Alan Turing,1912-06-23,1954-06-07,Computer Scientist,1912-06-23,1954-06-07
7,Johann Gauss,1777-04-30,1855-02-23,Mathematician,1777-04-30,1855-02-23

# 피클 형식으로 저장하기

### 'Name'열을 피클 시리즈로 저장하기 (변수명:names)

In [80]:
df['Age'].to_pickle("C:\\Github\\dd.pickle")

### scientists 데이터프레임을 피클 데이터프레임으로 저장하기

### 'Name'시리즈 피클 불러오기

In [82]:
pd.read_pickle("C:\\Github\\dd.pickle")

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

### scientists DF 피클 불러오기

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_years_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# CSV 불러오기

### names 변수를 csv로 저장하고, scientists DF를 tsv로 저장하기

In [73]:
df.to_csv("C:\\Github\\dd.csv")

### names변수를 xls로 저장하기

In [76]:
import xlwt
df.to_excel("C:\\Github\\dd.xls")

### names 변수를 xlsx로 저장하기

In [77]:
import openpyxl
df.to_excel(("C:\\Github\\dd.xlsx"))