# 누락값 확인하기

In [1]:
import pandas as pd

In [2]:
from numpy import NaN,NAN,nan

In [3]:
print(NaN==True)

False

In [4]:
print(NaN==False)

False

In [5]:
print(NaN==0)

False

In [6]:
print(NaN=='')

False

In [7]:
print(NaN==NaN)

False

# 누락값을 포함한 데이터를 불러올 때

In [8]:
print(pd.isnull(NaN))

True

In [10]:
print(pd.isnull(nan))

True

In [11]:
print(pd.isnull(NAN))

True

In [12]:
print(pd.notnull(NaN))

False

In [13]:
print(pd.notnull(NAN))

False

In [14]:
print(pd.notnull(nan))

False

# 데이터 집합을 연결할 때 누락값이 발생하는 경우

In [16]:
visited=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\survey_visited.csv")
survey=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\survey_survey.csv")
print(visited)
print(survey)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [18]:
vs=visited.merge(survey,left_on='ident',right_on='taken')
vs

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

# 데이터를 입력할 때 누락값이 발생하는 경우

In [19]:
num_legs=pd.Series({'goat':4,'amoeba':nan})
print(num_legs)
print(type(num_legs))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [21]:
scientists=pd.DataFrame({
    'Name':['Rosalin Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-09-13'],
    'Died':['1958-04-26','1937-10-16'],
    'missing':[NaN,nan]
})
print(scientists)
print(type(scientists))

               Name    Occupation        Born        Died  missing
0  Rosalin Franklin       Chemist  1920-07-25  1958-04-26      NaN
1    William Gosset  Statistician  1876-09-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

In [24]:
gapminder=pd.read_csv("C:\\Github\\Pandas\\doit\\data\\gapminder.tsv",sep='\t')

In [25]:
life_exp=gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 인덱스를 다시 만들 때 누락값이 발생하는 경우

In [41]:
y2000=life_exp[life_exp.index>2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 누락값의 개수 구하기

# 누락값을 다른 값으로 변경하기

# 누락값 삭제하기

# 누락값이 포함된 데이터 계산하기