In [11]:
import pandas as pd

In [12]:
off_sell_19=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2019.xlsx")
off_sell_18=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2018.xlsx")
off_sell_17=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2017.xlsx")
off_sell_16=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2016.xlsx")
off_sell_15=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2015.xlsx")
off_sell_14=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2014.xlsx")
off_sell_13=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2013.xlsx")
off_sell_12=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2012.xlsx")
off_sell_11=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2011.xlsx")
off_sell_10=pd.read_excel("/Users/kang/Pandas/Real/off_sell_2010.xlsx")

In [13]:
off_sell_2010_2019=pd.concat([off_sell_19,off_sell_18,off_sell_17,off_sell_16,off_sell_15,off_sell_14,off_sell_13,off_sell_12,off_sell_11,off_sell_10])
off_sell_2010_2019

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,201908,8,"20,200",17,1997.0,개포로 623
1,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,201909,9,"20,000",21,1997.0,개포로 623
2,서울특별시 강남구 개포동,13-3,13,3,대청타워,34.39,201909,10,"20,200",14,1997.0,개포로 623
3,서울특별시 강남구 개포동,13-3,13,3,대청타워,32.44,201910,4,"19,500",12,1997.0,개포로 623
4,서울특별시 강남구 개포동,13-3,13,3,대청타워,35.22,201910,11,"20,000",16,1997.0,개포로 623
...,...,...,...,...,...,...,...,...,...,...,...,...
12415,서울특별시 중랑구 신내동,644,644,0,엘리어트하우스,18.59,201010,28,"8,400",5,2003.0,신내로 193
12416,서울특별시 중랑구 신내동,644,644,0,엘리어트하우스,29.69,201011,25,"11,500",3,2003.0,신내로 193
12417,서울특별시 중랑구 신내동,644,644,0,엘리어트하우스,25.50,201103,12,"9,100",3,2003.0,신내로 193
12418,서울특별시 중랑구 신내동,644,644,0,엘리어트하우스,18.59,201104,19,"8,800",5,2003.0,신내로 193
12419,서울특별시 중랑구 신내동,644,644,0,엘리어트하우스,18.59,201106,13,"8,950",4,2003.0,신내로 193

In [14]:
off_sell_2010_2019.columns=['citytownvillage','zipcode','zipcode_main','zipcode_sub','name','size','yymm','dd','price_sold','floor','year_built','address']

In [15]:
off_sell_2010_2019['citytownvillage']=off_sell_2010_2019['citytownvillage'].astype(str)
off_sell_2010_2019['name']=off_sell_2010_2019['name'].astype(str)
off_sell_2010_2019['address']=off_sell_2010_2019['address'].astype(str)
off_sell_2010_2019['size']=off_sell_2010_2019['size'].astype(int)
off_sell_2010_2019['price_sold']=off_sell_2010_2019['price_sold'].astype(str).str.replace(',','')
off_sell_2010_2019['price_sold']=off_sell_2010_2019['price_sold'].astype(int)
off_sell_2010_2019['city']=off_sell_2010_2019['citytownvillage'].str.split(' ').str[0]
off_sell_2010_2019['town']=off_sell_2010_2019['citytownvillage'].str.split(' ').str[1]
off_sell_2010_2019['village']=off_sell_2010_2019['citytownvillage'].str.split(' ').str[2]
off_sell_2010_2019['yy']=off_sell_2010_2019['yymm'].astype(str).str.slice(0,4)
off_sell_2010_2019['mm']=off_sell_2010_2019['yymm'].astype(str).str.slice(4,6)
off_sell_2010_2019['yy']=off_sell_2010_2019['yy'].astype(int)
off_sell_2010_2019['mm']=off_sell_2010_2019['mm'].astype(int)

In [16]:
del off_sell_2010_2019['citytownvillage']
del off_sell_2010_2019['yymm']
del off_sell_2010_2019['zipcode_main']
del off_sell_2010_2019['zipcode_sub']

In [17]:
neworder = ['city','town','village','name', 'size','price_sold','floor','year_built','yy','mm','dd','zipcode','address']
off_sell_2010_2019=off_sell_2010_2019.reindex(columns=neworder)

In [10]:
off_sell_2010_2019.to_excel('/Users/kang/Pandas/Real/off_sell_all.xlsx')