In [1]:
import pandas as pd

In [3]:
all1=pd.read_excel('/Users/kang/Pandas/Real/all_2010_2013.xlsx')

In [4]:
all2=pd.read_excel('/Users/kang/Pandas/Real/all_2014_2016.xlsx')

In [5]:
all3=pd.read_excel('/Users/kang/Pandas/Real/all_2017_2020.xlsx')

In [6]:
all=pd.concat([all1,all2,all3])

In [7]:
all

,Unnamed: 0,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,583253,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103
1,583254,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103
2,583258,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307
3,583259,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.00,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307
4,583260,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955019,668451,아파트,서울특별시,중랑구,중화동,한신2,월세,59.76,0,50,50,4.0,1998.0,2017,4,7,450,동일로 752
955020,668452,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,4,25,450,동일로 752
955021,668453,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,7.0,1998.0,2017,5,10,450,동일로 752
955022,668454,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,7,7,450,동일로 752
955023,668456,아파트,서울특별시,중랑구,중화동,현대휴앤미,전세,82.97,0,0,0,7.0,2007.0,2017,2,17,11,봉화산로27가길 23

In [8]:
yongsan=all.loc[all['town']=='용산']

In [9]:
yongsan.groupby(['type','village','yy','mm'])['price_sold']