In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/kang/Documents/Github/Pandas/doit/data/highofficer_2018-2019.csv', encoding = 'CP949')

In [3]:
pd.options.display.float_format = '{:,}'.format

In [4]:
df.head()

,Unnamed: 0,소속_대분류,소속_소분류,소속,직위,성명,개별index,대분류,본인과의 관계,재산의 종류,소재지 면적 등 권리의 명세,종전가액,증가액,증가액_실거래가,감소액,감소액_실거래가,현재가액,변동사유,years
0,1,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,잡종지,경상남도 양산시 매곡동 28번지 159.00㎡,"20,177.0",0.0,0.0,0.0,0.0,"20,177.0",공시지가 변동없음,2018
1,2,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,주차장,경상남도 양산시 매곡동 29번지 577.00㎡,"73,221.0",0.0,0.0,0.0,0.0,"73,221.0",공시지가 변동없음,2018
2,3,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-2번지 15.00㎡,340.0,0.0,0.0,0.0,0.0,340.0,공시지가 변동없음,2018
3,4,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-3번지 14.00㎡,317.0,0.0,0.0,0.0,0.0,317.0,공시지가 변동없음,2018
4,5,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-4번지 47.00㎡,"1,066.0",0.0,0.0,0.0,0.0,"1,066.0",공시지가 변동없음,2018

In [5]:
df1=df[df['years']==2019]

In [18]:
df1['성명'].nunique()

2292

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86174 entries, 0 to 86173
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       86174 non-null  int64
 1   소속_대분류           86174 non-null  object
 2   소속_소분류           86174 non-null  object
 3   소속               86174 non-null  object
 4   직위               85174 non-null  object
 5   성명               86174 non-null  object
 6   개별index          86174 non-null  object
 7   대분류              86174 non-null  object
 8   본인과의 관계          86174 non-null  object
 9   재산의 종류           70561 non-null  object
 10  소재지 면적 등 권리의 명세  85302 non-null  object
 11  종전가액             86174 non-null  float64
 12  증가액              86174 non-null  float64
 13  증가액_실거래가         86174 non-null  float64
 14  감소액              86174 non-null  float64
 15  감소액_실거래가         86174 non-null  float64
 16  현재가액             86174 non-null  float64
 17  변동사유             77151 non-null  object
 18  years            86174 non-null  int64
dtypes: float64(6), int64(2), object(11)
memory usage: 12.5+ MB

In [42]:
sum=df1.groupby(['성명'])['현재가액'].mean()
sum.sort_values(ascending=False)
sum1=sum.reset_index()
sum1=sum.to_frame()

In [40]:
sum

성명
가세로   58,066.608695652176
강경구   142,551.33333333334
강경화            141,169.48
강근식   22,786.342857142856
강길부   139,357.88888888888
              ...
황철규   118,982.38461538461
황치영   134,725.88235294117
황한식            175,900.04
황현택    66,130.47826086957
황희    31,193.666666666668
Name: 현재가액, Length: 2292, dtype: float64

In [20]:
df1.현재가액.apply(lambda x:"{:,}".format(x))

42447     23,913.0
42448     86,780.0
42449        355.0
42450        331.0
42451      1,113.0
           ...
86169     -5,000.0
86170     -5,000.0
86171    -20,000.0
86172          0.0
86173          0.0
Name: 현재가액, Length: 43727, dtype: object

In [21]:
kim.현재가액.apply(lambda x:"{:,}".format(x))

76950         17,000.0
76951      3,831,800.0
76952         82,395.0
76953         94,254.0
76954        199,351.0
76955        750,000.0
76956      1,642,200.0
76957            290.0
76958              0.0
76959         38,850.0
76960         30,590.0
76961     41,832,274.0
76962        439,897.0
76963         61,146.0
76964    200,965,500.0
76965     11,819,264.0
76966         28,250.0
76967        290,000.0
76968     13,900,000.0
76969        240,000.0
76970        100,000.0
76971              0.0
76972              0.0
Name: 현재가액, dtype: object

In [22]:
kim['현재가액'].sum()

276363061.0

In [23]:
kim.sum()

Unnamed: 0                                                   1770126
소속_대분류                국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회
소속_소분류                국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회
소속                    국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회국회
직위                 국회의원국회의원국회의원국회의원국회의원국회의원국회의원국회의원국회의원국회의원국회의원국회...
성명                 김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김병관김...
개별index            국회-국회의원-김병관국회-국회의원-김병관국회-국회의원-김병관국회-국회의원-김병관국회...
대분류                건물건물건물건물건물건물건물부동산에관한규정이준용되는권리와자동차-건설기계-선박및항공기부...
본인과의 관계            본인본인본인본인본인배우자배우자본인본인본인배우자본인배우자본인본인본인본인본인배우자본인배...
소재지 면적 등 권리의 명세    경기도 성남시 분당구 이매동  3층 건물 125.65㎡ 중 42.00㎡경기도 성남시...
종전가액                                                   443,526,250.0
증가액                                                    136,374,620.0
증가액_실거래가                                                         0.0
감소액                                                    303,537,809.0
감소액_실거래가                                                         0.0
현재가액                                                   276,363,061.0
변동사유               변동없음가액변동없음가액변동없음가액변동없음가액변동없음변동없음가액변동없음차량가액변동양도...
years                                                          46437
dtype: object

In [24]:
kim=df1[df1['성명']=='김병관']
kim.groupby('대분류').sum()

,Unnamed: 0,종전가액,증가액,증가액_실거래가,감소액,감소액_실거래가,현재가액,years
대분류,,,,,,,,
건물,538678,"6,617,000.0",0.0,0.0,0.0,0.0,"6,617,000.0",14133
고지거부및등록제외사항,153945,0.0,0.0,0.0,0.0,0.0,0.0,4038
부동산에관한규정이준용되는권리와자동차-건설기계-선박및항공기,307838,"51,020.0","38,850.0",0.0,"20,140.0",0.0,"69,730.0",8076
예금,153925,"46,929,336.0","3,523,091.0",0.0,"8,180,256.0",0.0,"42,272,171.0",4038
유가증권,230898,"375,332,731.0","132,751,533.0",0.0,"295,271,250.0",0.0,"212,813,014.0",6057
정치자금법에따른정치자금의수입및지출을위한예금계좌의예금,76964,"54,163.0","61,146.0",0.0,"54,163.0",0.0,"61,146.0",2019
채권,153937,"14,190,000.0",0.0,0.0,0.0,0.0,"14,190,000.0",4038
합명-합자-유한회사출자지분,76971,"100,000.0",0.0,0.0,0.0,0.0,"100,000.0",2019
회원권,76970,"252,000.0",0.0,0.0,"12,000.0",0.0,"240,000.0",2019

In [25]:
kim['현재가액'].sum()

276363061.0

In [26]:
df['대분류'].unique()

array(['토지', '건물', '부동산에관한규정이준용되는권리와자동차-건설기계-선박및항공기', '예금', '채권', '채무',
       '지식재산권', '고지거부및등록제외사항', '유가증권', '합명-합자-유한회사출자지분', '회원권',
       '정치자금법에따른정치자금의수입및지출을위한예금계좌의예금', '현금', '골동품및예술품', '보석류', '금및백금',
       '비영리법인에출연한재산'], dtype=object)

In [27]:
df['지역']=df['소재지 면적 등 권리의 명세'].fillna('알수없음')

In [28]:
s=df[df['지역'].str.contains('성동')]
s

,Unnamed: 0,소속_대분류,소속_소분류,소속,직위,성명,개별index,대분류,본인과의 관계,재산의 종류,소재지 면적 등 권리의 명세,종전가액,증가액,증가액_실거래가,감소액,감소액_실거래가,현재가액,변동사유,years,지역
200,201,청와대,청와대,대통령비서실,경제수석비서관,홍장표,대통령비서실-경제수석비서관-홍장표,건물,본인,아파트전세(임차)권,서울특별시성동구금호동3가 두산아파트건물59.97㎡,0.0,"100,000.0",0.0,0.0,0.0,"100,000.0",전세보증금,2018,서울특별시성동구금호동3가 두산아파트건물59.97㎡
1432,1433,정부,국무총리실,국무총리비서실,민정실장,이상식,국무총리비서실-민정실장-이상식,건물,본인,아파트전세(임차)권,서울특별시강남구삼성동 현대힐스테이트2차건물84.0 ㎡,0.0,"940,000.0","940,000.0",0.0,0.0,"940,000.0",신규전세계약,2018,서울특별시강남구삼성동 현대힐스테이트2차건물84.0 ㎡
1483,1484,정부,인사혁신처,인사혁신처,처장,김판석,인사혁신처-처장-김판석,건물,본인,아파트,서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡,"218,000.0",0.0,0.0,0.0,0.0,"218,000.0",2017.1.1일 기준공동주택공시가격,2018,서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡
1484,1485,정부,인사혁신처,인사혁신처,처장,김판석,인사혁신처-처장-김판석,건물,배우자,아파트,서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡,"218,000.0",0.0,0.0,0.0,0.0,"218,000.0",2017.1.1일 기준공동주택공시가격,2018,서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡
1555,1556,정부,인사혁신처,인사혁신처소청심사위원회,상임위원,조명우,인사혁신처소청심사위원회-상임위원-조명우,토지,배우자,대지,서울특별시 성동구 성수동2가 342-10번지 10.00㎡ 중 1.66㎡,"6,626.0",193.0,0.0,0.0,0.0,"6,819.0",가액변동,2018,서울특별시 성동구 성수동2가 342-10번지 10.00㎡ 중 1.66㎡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86115,86116,사법부,사법부,헌법재판소,재판관,이영진,헌법재판소-재판관-이영진,채무,본인,건물임대채무,서울특별시 성동구 행당동 임대보증금 증가,"-460,000.0","-20,000.0",0.0,0.0,0.0,"-480,000.0",전세보증금 증가,2019,서울특별시 성동구 행당동 임대보증금 증가
86118,86119,사법부,사법부,헌법재판소,사무처장,김헌정,헌법재판소-사무처장-김헌정,건물,본인,단독주택,서울특별시 강남구 삼성동 대지 226.70㎡ 중 151.14㎡ 건물 296.09㎡ ...,"1,450,000.0",0.0,0.0,0.0,0.0,"1,450,000.0",변동없음,2019,서울특별시 강남구 삼성동 대지 226.70㎡ 중 151.14㎡ 건물 296.09㎡ ...
86120,86121,사법부,사법부,헌법재판소,사무처장,김헌정,헌법재판소-사무처장-김헌정,건물,배우자,단독주택,서울특별시 강남구 삼성동 대지 226.70㎡ 중 75.56㎡건물 296.09㎡ 중 ...,"725,000.0",0.0,0.0,0.0,0.0,"725,000.0",변동없음,2019,서울특별시 강남구 삼성동 대지 226.70㎡ 중 75.56㎡건물 296.09㎡ 중 ...
86137,86138,사법부,사법부,헌법재판소,사무처장,김헌정,헌법재판소-사무처장-김헌정,채무,본인,건물임대채무,서울특별시 강남구 삼성동 임대보증금 감소,"-53,333.0",0.0,0.0,"-53,333.0",0.0,0.0,임대차 종료,2019,서울특별시 강남구 삼성동 임대보증금 감소
86140,86141,사법부,사법부,헌법재판소,사무처장,김헌정,헌법재판소-사무처장-김헌정,채무,배우자,건물임대채무,서울특별시 강남구 삼성동 임대보증금 감소,"-26,666.0",0.0,0.0,"-26,666.0",0.0,0.0,임대차 종료,2019,서울특별시 강남구 삼성동 임대보증금 감소

In [29]:
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 200 to 86140
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       638 non-null    int64
 1   소속_대분류           638 non-null    object
 2   소속_소분류           638 non-null    object
 3   소속               638 non-null    object
 4   직위               632 non-null    object
 5   성명               638 non-null    object
 6   개별index          638 non-null    object
 7   대분류              638 non-null    object
 8   본인과의 관계          638 non-null    object
 9   재산의 종류           633 non-null    object
 10  소재지 면적 등 권리의 명세  638 non-null    object
 11  종전가액             638 non-null    float64
 12  증가액              638 non-null    float64
 13  증가액_실거래가         638 non-null    float64
 14  감소액              638 non-null    float64
 15  감소액_실거래가         638 non-null    float64
 16  현재가액             638 non-null    float64
 17  변동사유             550 non-null    object
 18  years            638 non-null    int64
 19  지역               638 non-null    object
dtypes: float64(6), int64(2), object(12)
memory usage: 104.7+ KB

In [ ]:
Q1 = num.describe()['25%']

In [ ]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])
investment_df['decile'] = pd.qcut(investment_df['investment'], 10, labels=False)
pd.cut(df.Sales,bins = pd.interval_range(start=0, end= 10000, periods=4))

In [52]:
sum1['분위1']=pd.cut(sum1['현재가액'],bins=pd.interval_range(start=sum1['현재가액'].min(),end=sum1['현재가액'].max(),periods=5))

In [53]:
sum1

                   현재가액 분위                                       분위1
성명
가세로 58,066.608695652176  3  (-126088.27272727272, 2302286.433992095]
강경구 142,551.33333333334  5  (-126088.27272727272, 2302286.433992095]
강경화          141,169.48  5  (-126088.27272727272, 2302286.433992095]
강근식 22,786.342857142856  2  (-126088.27272727272, 2302286.433992095]
강길부 139,357.88888888888  5  (-126088.27272727272, 2302286.433992095]
..                  ... ..                                       ...
황철규 118,982.38461538461  4  (-126088.27272727272, 2302286.433992095]
황치영 134,725.88235294117  5  (-126088.27272727272, 2302286.433992095]
황한식          175,900.04  5  (-126088.27272727272, 2302286.433992095]
황현택  66,130.47826086957  3  (-126088.27272727272, 2302286.433992095]
황희  31,193.666666666668  2  (-126088.27272727272, 2302286.433992095]

[2292 rows x 3 columns]

In [ ]:
import numpy as np
np.quantile(df.Sales,[0,0.25,0.5,0.75,1])

In [90]:
import numpy as np
a=np.quantile(sum1['현재가액'],[0,0.2,0.4,0.6,0.8,1])
a

array([ -126088.27272727,    22490.35833333,    44174.95857143,
          72171.05384615,   121012.05112782, 12015785.26086956])

In [91]:
sum1['분위']=pd.qcut(sum1['현재가액'],5,labels=["1","2","3","4","5"],duplicates='raise')

In [92]:
a=pd.qcut(sum1['현재가액'],5,labels=None,retbins=True,precision=0,duplicates='raise')

In [93]:
a

(성명
 가세로        (44175.0, 72171.0]
 강경구    (121012.0, 12015785.0]
 강경화    (121012.0, 12015785.0]
 강근식        (22490.0, 44175.0]
 강길부    (121012.0, 12015785.0]
                 ...
 황철규       (72171.0, 121012.0]
 황치영    (121012.0, 12015785.0]
 황한식    (121012.0, 12015785.0]
 황현택        (44175.0, 72171.0]
 황희         (22490.0, 44175.0]
 Name: 현재가액, Length: 2292, dtype: category
 Categories (5, interval[float64]): [(-126089.0, 22490.0] < (22490.0, 44175.0] < (44175.0, 72171.0] < (72171.0, 121012.0] < (121012.0, 12015785.0]],
 array([ -126088.27272727,    22490.35833333,    44174.95857143,
           72171.05384615,   121012.05112782, 12015785.26086956]))

In [94]:
sum1

                   현재가액 분위                                       분위1
성명
가세로 58,066.608695652176  3  (-126088.27272727272, 2302286.433992095]
강경구 142,551.33333333334  5  (-126088.27272727272, 2302286.433992095]
강경화          141,169.48  5  (-126088.27272727272, 2302286.433992095]
강근식 22,786.342857142856  2  (-126088.27272727272, 2302286.433992095]
강길부 139,357.88888888888  5  (-126088.27272727272, 2302286.433992095]
..                  ... ..                                       ...
황철규 118,982.38461538461  4  (-126088.27272727272, 2302286.433992095]
황치영 134,725.88235294117  5  (-126088.27272727272, 2302286.433992095]
황한식          175,900.04  5  (-126088.27272727272, 2302286.433992095]
황현택  66,130.47826086957  3  (-126088.27272727272, 2302286.433992095]
황희  31,193.666666666668  2  (-126088.27272727272, 2302286.433992095]

[2292 rows x 3 columns]

In [ ]:
"o2o_merge=site.merge(visited_subset,left_on='name',right_on='site')\n"

In [99]:
df_percentile=df1.merge(sum1,left_on='성명',right_on='성명',ignore_index=True)

TypeError: merge() got an unexpected keyword argument 'ignore_index'

In [106]:
df_percentile=df1.merge(sum1,on=['성명'])

In [107]:
df_percentile

,Unnamed: 0,소속_대분류,소속_소분류,소속,직위,성명,개별index,대분류,본인과의 관계,재산의 종류,...,증가액,증가액_실거래가,감소액,감소액_실거래가,현재가액_x,변동사유,years,현재가액_y,분위,분위1
0,42448,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,잡종지,...,"3,736.0",0.0,0.0,0.0,"23,913.0",공시지가 변동,2019,"61,091.27272727273",3,"(-126088.27272727272, 2302286.433992095]"
1,42449,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,주차장,...,"13,559.0",0.0,0.0,0.0,"86,780.0",공시지가 변동,2019,"61,091.27272727273",3,"(-126088.27272727272, 2302286.433992095]"
2,42450,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,...,15.0,0.0,0.0,0.0,355.0,공시지가 변동,2019,"61,091.27272727273",3,"(-126088.27272727272, 2302286.433992095]"
3,42451,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,...,14.0,0.0,0.0,0.0,331.0,공시지가 변동,2019,"61,091.27272727273",3,"(-126088.27272727272, 2302286.433992095]"
4,42452,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,...,47.0,0.0,0.0,0.0,"1,113.0",공시지가 변동,2019,"61,091.27272727273",3,"(-126088.27272727272, 2302286.433992095]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43722,86148,사법부,사법부,헌법재판소,헌법재판연구원장,석인선,헌법재판소-헌법재판연구원장-석인선,부동산에관한규정이준용되는권리와자동차-건설기계-선박및항공기,배우자,자동차,...,0.0,0.0,"1,560.0",0.0,"5,040.0",가액변동,2019,"-16,664.285714285714",1,"(-126088.27272727272, 2302286.433992095]"
43723,86149,사법부,사법부,헌법재판소,헌법재판연구원장,석인선,헌법재판소-헌법재판연구원장-석인선,예금,본인,NaN,...,"21,008.0",0.0,"30,513.0",0.0,"228,714.0","채무 상환, 저축연금 일부 지급받음",2019,"-16,664.285714285714",1,"(-126088.27272727272, 2302286.433992095]"
43724,86150,사법부,사법부,헌법재판소,헌법재판연구원장,석인선,헌법재판소-헌법재판연구원장-석인선,예금,배우자,NaN,...,"1,288.0",0.0,"2,377.0",0.0,"14,202.0","채무 상환, 저축연금 일부 지급받음",2019,"-16,664.285714285714",1,"(-126088.27272727272, 2302286.433992095]"
43725,86151,사법부,사법부,헌법재판소,헌법재판연구원장,석인선,헌법재판소-헌법재판연구원장-석인선,채무,본인,금융기관채무,...,"-14,920.0",0.0,"-64,734.0",0.0,"-373,748.0",일부 상환,2019,"-16,664.285714285714",1,"(-126088.27272727272, 2302286.433992095]"
43726,86152,사법부,사법부,헌법재판소,헌법재판연구원장,석인선,헌법재판소-헌법재판연구원장-석인선,채무,배우자,금융기관채무,...,0.0,0.0,0.0,0.0,"-258,000.0",변동없음,2019,"-16,664.285714285714",1,"(-126088.27272727272, 2302286.433992095]"

In [108]:
df_percentile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43727 entries, 0 to 43726
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       43727 non-null  int64
 1   소속_대분류           43727 non-null  object
 2   소속_소분류           43727 non-null  object
 3   소속               43727 non-null  object
 4   직위               43284 non-null  object
 5   성명               43727 non-null  object
 6   개별index          43727 non-null  object
 7   대분류              43727 non-null  object
 8   본인과의 관계          43727 non-null  object
 9   재산의 종류           40526 non-null  object
 10  소재지 면적 등 권리의 명세  43719 non-null  object
 11  종전가액             43727 non-null  float64
 12  증가액              43727 non-null  float64
 13  증가액_실거래가         43727 non-null  float64
 14  감소액              43727 non-null  float64
 15  감소액_실거래가         43727 non-null  float64
 16  현재가액_x           43727 non-null  float64
 17  변동사유             38354 non-null  object
 18  years            43727 non-null  int64
 19  현재가액_y           43727 non-null  float64
 20  분위               43727 non-null  category
 21  분위1              43716 non-null  category
dtypes: category(2), float64(7), int64(2), object(11)
memory usage: 7.1+ MB

In [ ]:
df_percentile.info()

In [109]:
del df_percentile['현재가액_y']

In [110]:
df_percentile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43727 entries, 0 to 43726
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       43727 non-null  int64
 1   소속_대분류           43727 non-null  object
 2   소속_소분류           43727 non-null  object
 3   소속               43727 non-null  object
 4   직위               43284 non-null  object
 5   성명               43727 non-null  object
 6   개별index          43727 non-null  object
 7   대분류              43727 non-null  object
 8   본인과의 관계          43727 non-null  object
 9   재산의 종류           40526 non-null  object
 10  소재지 면적 등 권리의 명세  43719 non-null  object
 11  종전가액             43727 non-null  float64
 12  증가액              43727 non-null  float64
 13  증가액_실거래가         43727 non-null  float64
 14  감소액              43727 non-null  float64
 15  감소액_실거래가         43727 non-null  float64
 16  현재가액_x           43727 non-null  float64
 17  변동사유             38354 non-null  object
 18  years            43727 non-null  int64
 19  분위               43727 non-null  category
 20  분위1              43716 non-null  category
dtypes: category(2), float64(6), int64(2), object(11)
memory usage: 6.8+ MB

In [115]:
df_percentile1=df_percentile.rename(columns={'현재가액_x': '현재가액'})

In [116]:
df_percentile1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43727 entries, 0 to 43726
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       43727 non-null  int64
 1   소속_대분류           43727 non-null  object
 2   소속_소분류           43727 non-null  object
 3   소속               43727 non-null  object
 4   직위               43284 non-null  object
 5   성명               43727 non-null  object
 6   개별index          43727 non-null  object
 7   대분류              43727 non-null  object
 8   본인과의 관계          43727 non-null  object
 9   재산의 종류           40526 non-null  object
 10  소재지 면적 등 권리의 명세  43719 non-null  object
 11  종전가액             43727 non-null  float64
 12  증가액              43727 non-null  float64
 13  증가액_실거래가         43727 non-null  float64
 14  감소액              43727 non-null  float64
 15  감소액_실거래가         43727 non-null  float64
 16  현재가액             43727 non-null  float64
 17  변동사유             38354 non-null  object
 18  years            43727 non-null  int64
 19  분위               43727 non-null  category
 20  분위1              43716 non-null  category
dtypes: category(2), float64(6), int64(2), object(11)
memory usage: 6.8+ MB

In [124]:
portfolio=df_percentile1.groupby(['분위','대분류'])['현재가액'].sum()

In [125]:
portfolio

분위  대분류
1   건물                134,676,049.0
    고지거부및등록제외사항                 0.0
    골동품및예술품             1,355,000.0
    금및백금                  220,093.0
    보석류                   132,375.0
                          ...
5   채무               -231,378,837.0
    토지                190,778,605.0
    합명-합자-유한회사출자지분      5,361,791.0
    현금                  1,518,654.0
    회원권                12,087,940.0
Name: 현재가액, Length: 85, dtype: float64

In [132]:
portfolio.to_excel("/Users/kang/Documents/Github/Pandas/Exercise/portfolio.xlsx")