In [1]:
import pandas as pd

In [2]:
join=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/join.xlsx")

In [3]:
p2p=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/p2p.xlsx")

In [4]:
p2p_refund=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/p2p_refund.xlsx")

In [5]:
user=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/user.xlsx")

In [6]:
print(join.info())
print(p2p.info())
print(p2p_refund.info())
print(user.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245396 entries, 0 to 245395
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   경매번호    245396 non-null  object
 1   경매종류    245396 non-null  object
 2   참여순서    245396 non-null  int64
 3   투자자ID   245396 non-null  object
 4   투자일시    245396 non-null  datetime64[ns]
 5   투자금액금액  245396 non-null  int64
 6   투자성사여부  245396 non-null  int64
 7   입찰이자율   245396 non-null  float64
 8   오토비딩    245396 non-null  int64
 9   미투비딩갑   245396 non-null  int64
 10  미투비딩을   245396 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 20.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26855 entries, 0 to 26854
Data columns (total 39 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          26855 non-null  object
 1   자금모집시작일       26855 non-null  datetime64[ns]
 2   자금모집종료일       26855 non-null  datetime64[ns]
 3   대출자ID         26855 non-null  object
 4   대출신청금액        26855 non-null  int64
 5   상환기간          26855 non-null  int64
 6   대출자 제시 연 이자율  26855 non-null  float64
 7   매칭방식          26855 non-null  int64
 8   대출용도          14437 non-null  object
 9   투자모집 금액       26855 non-null  float64
 10  투자모집 성공여부     26855 non-null  int64
 11  투자참여인원수       26855 non-null  int64
 12  투자모집(오토비드)    26855 non-null  int64
 13  투자모집(미투비드)    26855 non-null  int64
 14  최종약정이자율       26855 non-null  float64
 15  신용보고서         26855 non-null  int64
 16  소득보고서         26855 non-null  int64
 17  핸드폰번호         26855 non-null  int64
 18  집전화번호         26855 non-null  int64
 19  회사전화번호        26855 non-null  int64
 20  개인정보서류        26855 non-null  int64
 21  월소득(만원)       26855 non-null  int64
 22  월지출(만원)       26855 non-null  float64
 23  상환후여유자금(만원)   26855 non-null  int64
 24  성별            26855 non-null  int64
 25  나이            24980 non-null  float64
 26  사연길이          26855 non-null  int64
 27  추가글 개수        26855 non-null  int64
 28  월지출 상세내역      13060 non-null  object
 29  주거형태          14221 non-null  object
 30  거주지역          24462 non-null  object
 31  직종            23321 non-null  object
 32  직장세부          20230 non-null  object
 33  혼인상태          26855 non-null  int64
 34  동거인수          26855 non-null  int64
 35  주거지명의         14180 non-null  object
 36  차량소유          26855 non-null  int64
 37  개인회생          26855 non-null  int64
 38  Q&A수 게시물 수    26855 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(23), object(9)
memory usage: 8.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22163 entries, 0 to 22162
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   경매번호    22163 non-null  object
 1   회차      22163 non-null  int64
 2   기일      22163 non-null  datetime64[ns]
 3   원금      22163 non-null  int64
 4   이자      22163 non-null  int64
 5   잔액      22163 non-null  int64
 6   입금일     20165 non-null  datetime64[ns]
 7   입금원금    22163 non-null  int64
 8   입금이자    22163 non-null  int64
 9   입금후잔액   22163 non-null  int64
dtypes: datetime64[ns](2), int64(7), object(1)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78944 entries, 0 to 78943
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   투자자ID    78944 non-null  object
 1   가입일      78944 non-null  datetime64[ns]
 2   페이스북로그인  78944 non-null  int64
 3   성별       78708 non-null  float64
 4   나이       78708 non-null  float64
 5   오토비드사용   78944 non-null  int64
 6   미투비드갑사용  78944 non-null  int64
 7   대부회원 여부  78944 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 4.8+ MB
None

In [7]:
print(join['경매번호'].nunique())
print(p2p['경매번호'].nunique())
print(p2p_refund['경매번호'].nunique())

3215
26830
2156

In [8]:
print(join.groupby('투자성사여부').size())
print(p2p.groupby('투자모집 성공여부').size())

투자성사여부
0     10168
1    235228
dtype: int64
투자모집 성공여부
0    24760
1     2095
dtype: int64

In [9]:
print(join['투자자ID'].nunique())
print(user['투자자ID'].nunique())

6345
78759

In [10]:
print(p2p['대출자ID'].nunique())

11163

In [11]:
join['Percentile_rank']=join.투자금액금액.rank(pct=True)
join.head(5)

,경매번호,경매종류,참여순서,투자자ID,투자일시,투자금액금액,투자성사여부,입찰이자율,오토비딩,미투비딩갑,미투비딩을,Percentile_rank
0,A8C32F3,개인,1,UAEB30A,2007-05-29 08:53:31,20000,0,13.0,0,0,0,0.716167
1,A8C32F3,개인,2,U886072,2007-05-28 14:10:45,20000,0,20.0,0,0,0,0.716167
2,A8C32F3,개인,3,U8A803C,2007-05-28 14:09:18,20000,0,15.0,0,0,0,0.716167
3,A8C32F3,개인,4,U886072,2007-05-28 14:04:55,20000,0,20.0,0,0,0,0.716167
4,AAD65CE,개인,1,U4E8DF4,2007-06-01 11:26:25,20000,0,7.0,0,0,0,0.716167

In [12]:
q1 = join['투자금액금액'].quantile(q = 0.1)
q2 = join['투자금액금액'].quantile(q = 0.2)
q3 = join['투자금액금액'].quantile(q = 0.3)
q4 = join['투자금액금액'].quantile(q = 0.4)
q5 = join['투자금액금액'].quantile(q = 0.5)
q6 = join['투자금액금액'].quantile(q = 0.6)
q7 = join['투자금액금액'].quantile(q = 0.7)
q8 = join['투자금액금액'].quantile(q = 0.8)
q9 = join['투자금액금액'].quantile(q = 0.9)

In [13]:
investment_df = pd.DataFrame(np.arange(10), columns=['investment'])

In [54]: investment_df['decile'] = pd.qcut(investment_df['investment'], 10, labels=False)

In [55]: investment_df['quintile'] = pd.qcut(investment_df['investment'], 5, labels=False)

In [56]: investment_df

NameError: name 'np' is not defined

In [ ]:
print(join.head(5))
print(join.info())

In [ ]:
print(p2p.head(5))
print(p2p.info())

In [ ]:
print(p2p_refund.head(5))
print(p2p_refund.info())

In [ ]:
print(user.head(5))
print(user.info())

In [ ]:
user.groupby(['오토비드사용']).size()

In [ ]:
user.groupby(['미투비드갑사용']).size()

In [ ]:
user['투자경험회수']=user['오토비드사용']+user['미투비드갑사용']
user1=user.loc[user['투자경험회수']>0,:]
user1['투자자ID'].nunique()

In [ ]:
user1.groupby('투자자ID').mean()

In [ ]:
p2p[['투자모집 성공여부','성별']].head(5)

In [ ]:
print(tesla.loc[(tesla.Date.dt.year == 2018) & (tesla.Date.dt.month == 3)])
df["A"][(df["B"] > 50) & (df["C"] == 900)]
df.loc[(df["B"] > 50) & (df["C"] == 900), "A"]
df.loc[df['column_name'] == some_value]

In [ ]:
p2p_success=p2p.loc[p2p['투자모집 성공여부']==1]
p2p_success.head()
print(p2p_success.info())

In [ ]:
male=p2p_success[p2p_success['성별']==1].shape[0]/p2p_success.shape[0]
female=p2p_success[p2p_success['성별']==2].shape[0]/p2p_success.shape[0]
print(male)
print(female)

In [ ]:
p2p_success[p2p_success['성별']==0].count()

In [ ]:
age_group=pd.cut(p2p_success.나이,bins=[0,20,30,40,50,60,1000],labels=['0-20','20-30','30-40','40-50','50-60','60+'])
p2p_success.insert(5,'연령대',age_group)

In [ ]:
p2p_success.head(5)

In [ ]:
p2p_success.info()

In [ ]:
p2p_success.head()

In [ ]:
del p2p_success['연령대구분']

In [ ]:
p2p_success.info()

In [ ]:
p2p_success.head()

In [ ]:
p2p_success.groupby('연령대')['대출자ID'].nunique()

In [ ]:
p2p_success['지역']=p2p_success['거주지역'].str.split(' ').str[0]

In [ ]:
p2p_success.head()

In [ ]:
p2p_success['지역'].unique()

In [ ]:
df['range'] = df['range'].str.replace(',','-')

In [ ]:
p2p_success['지역']=p2p_success['지역'].str.replace('경기도','경기')
p2p_success['지역']=p2p_success['지역'].str.replace('경기도군포시당동','경기')
p2p_success['지역']=p2p_success['지역'].str.replace('경기군포시당동','경기')
p2p_success['지역']=p2p_success['지역'].str.replace('대구시','대구')
p2p_success['지역']=p2p_success['지역'].str.replace('전남여수시','전남')
p2p_success['지역']=p2p_success['지역'].str.replace('광주광역시','광주')
p2p_success['지역']=p2p_success['지역'].str.replace('전남광양시중동','전남')
p2p_success['지역']=p2p_success['지역'].str.replace('서울특별시','서울')
p2p_success['지역']=p2p_success['지역'].str.replace('서울시','서울')
p2p_success['지역']=p2p_success['지역'].str.replace('경상남도','경남')
p2p_success['지역']=p2p_success['지역'].str.replace('부산광역시','부산')
p2p_success['지역']=p2p_success['지역'].str.replace('서울시중랑구면목7동527-16','서울')
p2p_success['지역']=p2p_success['지역'].str.replace('동일','알수없음')
p2p_success['지역']=p2p_success['지역'].str.replace('상동','알수없음')
p2p_success['지역']=p2p_success['지역'].str.replace('서울중랑구면목7동527-16','서울')
p2p_success['지역']=p2p_success['지역'].str.replace('천안시','천안')

In [ ]:
p2p_success['지역'].unique()

In [ ]:
p2p_success[p2p_success['지역']=='상동']

In [ ]:
p2p_success[p2p_success['지역']=='동일']

In [ ]:
p2p.loc[630:650,:]

In [ ]:
p2p_success[p2p_success['대출자ID']=='UE91ED2']

In [ ]:
p2p_success['대출자ID'].sample(10)

In [50]:
p2p_success.sort_values(by='대출자ID',ascending=False)

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,거주지역,직종,직장세부,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역
11311,A9FCF5A,2010-10-13 09:31:05,2010-10-25 12:00:01,UFF9947,200,20-30,12,30.0,2,NaN,...,경기 연천군 전곡읍 은대1리,일반회사원,NaN,0,0,NaN,0,0,35,경기
7307,ADC480E,2010-03-11 10:48:56,2010-03-23 12:00:01,UFF860C,150,40-50,12,30.0,1,NaN,...,경기 구리시 수택동,일반회사원,통신업,0,0,NaN,0,0,87,경기
22231,A3A32FA,2013-02-22 11:36:33,2013-03-05 12:00:01,UFF6BEA,150,30-40,12,30.0,2,생활비,...,경기 포천시 소흘읍 송우4리,일반회사원>영업직,판촉및배달,0,2,본인,0,1,13,경기
3256,A3F544A,2009-04-22 21:37:38,2009-05-06 12:00:01,UFF4521,200,40-50,12,30.0,1,NaN,...,경기 수원시 권선구 곡반정동,기타,설비기술직,0,0,NaN,0,0,203,경기
25371,AFC75ED,2015-04-14 18:36:33,2015-04-22 12:00:01,UFEE833,300,40-50,15,20.0,2,기타,...,경기 성남시 수정구 심곡동 공군아파트,공무원>장교/하사관,원사,0,2,기타,0,1,1,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25768,AF3037E,2015-08-03 13:28:46,2015-08-06 12:00:01,U000DBC,500,30-40,24,25.0,2,차량구입및수리,...,대구 동구 신천3동,일반회사원>사무직,고등부 수학 강사,0,4,가족,0,1,0,대구
24157,A584506,2014-02-25 13:57:28,2014-03-12 12:00:01,U000DBC,200,30-40,12,30.0,2,기타,...,대구 동구 신천3동,일반회사원>사무직,고등부 수학 강사,0,3,가족,0,1,2,대구
23364,A4C19FD,2013-09-10 16:35:51,2013-09-25 12:00:01,U000DBC,150,30-40,12,30.0,2,생활비,...,대구 동구 신천3동,일반회사원>사무직,고등부 수학 강사,0,3,가족,0,1,0,대구
24986,A9EBEB6,2014-11-20 13:05:40,2014-11-28 12:00:01,U000DBC,300,30-40,24,25.0,2,이사비,...,대구 동구 신천3동,일반회사원>사무직,고등부 수학 강사,0,4,가족,0,1,4,대구
24603,AB46829,2014-06-25 18:34:30,2014-07-11 12:00:01,U000DBC,300,30-40,15,30.0,2,차량구입및수리,...,대구 동구 신천3동,일반회사원>사무직,고등부 수학 강사,0,4,가족,0,1,3,대구

In [51]:
p2p_success['지역'] = p2p_success['지역'].fillna('알수없음')

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
p2p_success.groupby('지역')['대출자ID'].nunique()

지역
강원       37
경기      275
경남       45
경북       32
광주       35
대구       44
대전       36
부산       68
서울      248
알수없음     22
울산       17
인천       75
전남       33
전북       20
제주       17
천안        1
충남       28
충북       22
Name: 대출자ID, dtype: int64

In [53]:
p2p['자금모집시작일'].min()

Timestamp('2007-05-28 05:00:35')

In [54]:
p2p['자금모집시작일'].max()

Timestamp('2016-08-02 16:40:37')

In [55]:
p2p_success['직종'].unique()

array(['알수없음', '기타>기타', '일반회사원', '일반회사원>사무직', '일반회사원>영업직', '공무원>공기업',
       '사업자>기타', '사업자', '공무원>공공기관', '일반회사원>기술직', '전문직>간호사', '사업자>서비스업',
       nan, '기타', '학생', '금융/보험', '공무원/군인', '사업자>학원', '금융/보험>카드사',
       '금융/보험>보험설계사', '기타>콜센터', '기타>일용직', '기타>시설관리업체', '전문직', '일반회사원>기타',
       '기타>운전직', '공기업', '무직', '주부', '전문직>기타', '일반회사원>생산직', '금융/보험>기타',
       '사업자>요식업', '공무원>기타', '공무원>장교/하사관', '공무원>교수/교사', '금융/보험>증권사',
       '공무원>군무원', '전문직>법조인', '공무원>경찰직', '금융/보험>캐피탈'], dtype=object)

In [56]:
p2p_success['직종분류']=p2p_success['직종'].str.split('/').str[0]
p2p_success['직종분류']=p2p_success['직종'].str.split('>').str[0]
p2p_success['직종분류'].unique()

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['알수없음', '기타', '일반회사원', '공무원', '사업자', '전문직', nan, '학생', '금융/보험',
       '공무원/군인', '공기업', '무직', '주부'], dtype=object)

In [57]:
p2p_success['직종분류']=p2p_success['직종분류'].str.replace('nan','알수없음')

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
p2p_job=p2p_success.groupby('직종분류')['대출자ID'].nunique()

In [59]:
p2p_success['직종분류'] = p2p_success['직종분류'].fillna('알수없음')
p2p_success.groupby('직종분류')['대출자ID'].nunique()

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

직종분류
공기업         2
공무원        37
공무원/군인     18
금융/보험      53
기타        201
무직          1
사업자       126
알수없음      118
일반회사원     429
전문직        51
주부         16
학생          3
Name: 대출자ID, dtype: int64

In [60]:
p2p_success['대출자ID'].nunique()

1055

In [61]:
p2p_job.sum()

1028

In [62]:
p2p_success['직장세부'].unique()

array([nan, '주부', '코스닥', '종합건설회사', '품질보증팀 과장', '부장', '사무직', '제품출하',
       '인쇄관련 출판디자인', '전자상거래', '학교 행정직원', '가정 주부', '공공기관 전산 개발', '테이크아웃점',
       '서비스직', 'IT 엔지니어', '자재QC', '경리과', '사무직 CS센터', '간호사', '경영자문',
       '영업관리', '요리사', '병무청', '대학원생', '신문유통', '프리랜서', '보험설계사', '흥국생명(주)',
       '아이서비스(주)관리직', '회사인사담당', '케', '코스닥상장기업', '청원경찰', '학원강사+과외',
       '현재 구직급여 수급자입니다.', '경리직', '건설', '보험회사 인바운드상담 +아르바이트', '고객상담원',
       '실업급여', '삼성화재보험설계사', '자동차부품 품질관리 과장', '고객센터 팀장', '보험대리점',
       '식당 아르바이트', '텔레마케팅', '아파트 관리 사무소(기계,전기)', '외감기업', '아아아', '자영업',
       '방문교사', '임원', '역무원', '병원', '주유소 소장', '유통', '수행기사', '무역회사', '제조업',
       '콜센타영업직', '콜센터 팀장', '프로그래머', '회계경리', '물리치료', '공사', '골프캐디',
       '인터넷쇼핑몰', '가사.주부', '경리', '법인대리점', '자동차보험 다이렉트 상담원(영업)', '사원', '영업',
       '2월20일이후', '호프(음식점)', '차량정비사', '온라인교육', '취업 준비중입니다',
       '채선당 음식점에서 서빙일을 하구있습니다', '보석공예소매업', '신문배달', '외국어학원', '공공도서관 서무',
       '전기온수관 보일러 제조 및 설치', '신약개발', '(주)케이지코퍼레이션', '의류소매업(자영업)', '학원강사',
       '음식,피자', '전북 전주', '일산스프링힐스', '법인 보험업체 사원', '캐디', '경비안내', '선생님',
       '영업사원', '기관장(전기반장)', '전주', '서비스업', '사무', '품질팀 주임', '도.소매', '설비기술직',
       '법인대리점에 근무중', '독립보험대리점 소속 설계사입니다', '방사선사', '악세사리 부업', '농산물유통',
       '판매직', '안경테 제조', '대리운전', '교육(과외)', '탄성바닥제 제조,시공', '사무원',
       '전기 안전관리자', '신차판매', '품질관리팀장', '야간 아르바이트', '과외교사', '종합건축사사무소',
       '써비스', '아르바이트', '환전소', '병원근무 방사선사', '텔레마케터', '토목설계', '롯데렌터카차량정비',
       '청소년지도사', '의료정보제공', '일반사무직', '사회복지사, 정신보건사회복지사', '인터넷회사 운영자', '제조',
       '건설중기', '보험설계사 TMR', '레미콘기사', '외감법인 사원', '일반기업', '경리업무', '사무실 경리',
       '시설관리업무', '서비스업종사', '회사원', '호프집서빙', '보조', 'IT/정보통신', '경리,회계직',
       '대학교', '전기감시업무', '제과부 공장장', '개인사업자', '현대라이프 본사', '세무,회계', '파견직',
       '물류일용직', '섬유제조회사', '세탁편의점', '관광', 'I.T부품제조업', '보험', '방송무대',
       '의료기기 도소매', '초등학교교사', '커피숍에서 일하고 있습니다.', '스키렌탈업', '지국장',
       '일반사무직 부장', '토목건설기술자', 'KBS VOD운영', '애견샵에서 애견미용합니다..^^',
       '보험자료정리와 행사도우미일', '생명보험설계사', '소방공무원', '반찬가게', '간호조무사', '음식점',
       '서비스 판매 제조', '식자재도소매업', '11.5t화물차지입', '건축캐드', '웅진다책 영업사원', '전기업',
       '경리아르바이트', '버스기사입니다', '신용카드상품섭외', '경남대 휴학생', '군무원', '자활참여자',
       '영업관리부', '공기업', '공부방 운영', '개인병원의사', '방문학습지', '교육서비스', '웹디자인',
       '의료계', '건설일용직', '판매업', '골프장 캐디 (현장지급)', '업체 기장', '강릉영동대학교', '광택',
       '금융컨설턴트', '매장관리직', '마루 순두부', 0, '전업주부', '서울도시철도공사', '전산소모품회사',
       '판매서비스업', '노래방직원', '병원원무과', '초등학교 교사', '교정직', '대학 전임강사', '영업관리직',
       '익스프레스 포장팀.', '고시원 총무', '금속창호설치및 도장(페인트)기술', '공안직(교정직)', '영업 세일즈',
       '체인점', '편의점알바', '대리운전콜센터', '교무행정보조', '학원운영', '아모레',
       '프리랜서(휴대폰관련업종)', '금형', 'BC카드 추가교체 해피콜', '방문판매(방문학습)', '대라운전(서비스업)',
       '경호원', '의류회사/영업부', '시청에서하는자활', '신랑과 자영업', '출판사', '아웃소싱(안내업무)',
       '두피관리사', '학습지 방문교사', '노점판매', '면세품판매업', '귀금속 세공', '서비스업(사진촬영)',
       '가전제품배송', '기계/제조업', '개인사업장정직원', '납품업', '교육업', '건설 장비(24t덤프트럭)운전',
       '보육교사', '생활체육일반지도자', '개인과외 공부방', '퀵서비스', '보험회사', '건설업', '방문판매',
       '택배.화물', '자동차 영업사원', '강사', 'SK네트웍스', '사진스튜디오', '태성운수', '고객센터상담원',
       '재택 부업', '품질관리 업무', '외국어학원운영', '경영 사무직', '법무사 사무장', '무대조명설치',
       'nct 프로그래머', '복사기임대관리직', 'TM', '웹마스터', '건설노무자(금속인테리어)', '컴퓨터판매AS',
       '건설기술직', '통신업', '(사)대한노인회', '운영관리부', '취업/창업 대기자', '품질관리팀', '배송납품직',
       '연구원(Project Research Assistant)', '외감법인 상장사', '전문계약직공무원', '납품,배달',
       '군청환경녹지과소속', '의료기기 제조업', '보안원', 'otc사업부', '교육', '제조업근무', '학습지영업사원',
       '무직', '회계업무담당', '유통업', '기타', '주부.피부관리사', '연구원', '편집', '학원 운영',
       '교육서비스(입시학원)', '베이비시터', '초등학교 과학조교', '자활사업근로자', '민간인정규직(학교)', '식당',
       '휴대폰 피씨비 수리', '물류센터', 'pc방', '외부관리직[환경미화원]', '법인사업체', '사회복지직',
       '웹디자이너', '교과보충강사', '의약품유통업', '생산직(기계장비)', '공장아르바이트', '칼국수', '관리부',
       '나이스 신용정보(주)', '백화점파견 화장품브랜드 샵매니저', '자동차 부속가게 판매관리', '시멘트업', '대표',
       '생산직', '빌딩 관리소', '원사', '휴대폰매장', '의료기판매회사', '설계사', '축산업', '정수기등 점검',
       '생산부과장', '신발유통업체/기획관리부', '유통 판매 제조', '계약', '콜센타',
       '인천공항에서 수출화물담당입니다.', '관세사무소', '주유소정직원', '계약직 교사', '학원 교육부 차장',
       '의료직', '온누리기프트 판촉물쇼핑몰', '대출 상담사', '중소기업', '개인과외', '어린이집',
       '병원내약국에서 근무중입니다.', '학원지입차량', '주택관리', '중등학교 윤리교사', '택시운전', '조선소',
       '토목', '일러스트레이터', '판매점.식당알바', '교사', '부천중동 bar 근무', '건설회사에 자재납품',
       '치킨집 운영', '관리대리', '항공화물', '공장장', '오토방이상사', '시설관리', '중소기업연구원',
       '소규모법인체 사무실', '인쇄부 관리대리', '관리직', '주임/경리직', '삼성화재', '방산업체 부회장 수행비서',
       '보험법인 등재이사,지사장', '업무직', '의류물류센터 인터넷배송총괄', '야식', '휴대폰가게운영', '신용카드사',
       '대형상선 엔진 정비담당', '어린이집교사', '핸드폰매장운영', '기계시설관리', '컴퓨터/주변기기/조명기구 도소매',
       '삼육외국어학원', '화장품도소매,방문판매', '센터 전산업무및 잡일', '공부방', '고객지원',
       '제조업체 품질관리팀장', '자영업자', '손해보험대리점', '지방법원 9급직', '현재는 일용직',
       '개인사업장 직원', '간호실장', '피오피,폼아트,초크아트,점핑클레이 교육강사', '의류판매',
       'IT 엔지니어, 프리랜서', '건설업체 조명기구 납품업무 영업1군건설업체입니다', '육군 군종부사관', '의류렌탈업',
       '훼미리마트 판매원', '개인과외교습', '자동차용품도소매업,컴퓨터관련부품도소매업', '상장회사 사무직', '인사',
       '메리츠화재해상보험 진해지점', '년평균 소득은 4000만이상 합니다', '학습지교사',
       'TFC-지정된 회원 디비를 통해 보험상품가입안내및 판매, 관리', '유치원 영어교재판매', '보험회사 tm 업무',
       '추레라(트레일러)', '사회복지시설 장애인 재활생활교사', '휴대폰 판매점', '회계사무실 경리', '기업평가상담',
       '인쇄', '신한생명/오휘화장품', '마트캐셔', '당구장', '항만에서 부두하역 작업', '전산코디네이터',
       '전기기술자', '사회복지사', '서울시도시철도공사 근무', '도시철도공사', '도소매 자영업', '치위생사',
       '가구업체 고객지원팀', '통신회선 감시운영', '주한미군', '콜센터상담사', '주방 음식조리',
       '수제인형을 만들어 파는곳에서 전화업무와 발송 및 간단한 작업을 하고있습니다.', '호텔근무', '자산관리',
       '택시기사(법인택시)', '정부투자기관', '행정실사무보조', '이탈리아 레스토랑', '인테리어,의류업',
       '간호과 간호조무사', '경리부', '보건복지부 아동복지교사', '아파트관리사무실', '경리,관리업무',
       '학원전임강사', '일반기업이 아닌 비영리재단법인에서 일을 하고 있습니다.', '유아관련쇼핑몰운영', 'IT개발',
       '전기기사', '고객만족센터 상담원', '(주)현대모비스에 근무중', '고객센터 상담직(교육중)', '회계사무',
       '물류이동', '노래방 관리 및 서비스', '정보통신계열회사', '코일생산',
       'CS본부에서 시공및 AS총괄업무담당하고 있습니다', '품질관리 QC',
       '식당이나 부페 같은곳에 식자재 납품하고 관리하는 업무입니다', '시외버스 운전직', '현재 기업이사전문직 팀장',
       '생산관리직', '청과중도매인기사', '도로 교량 설계직', '치과 간호사', '보습학원', '교습소 운영', '과장',
       '보험판매법인', '화장품', '법무팀', '건물유지관리 및 운전기사', '현장소장(부장)', '삼성전자 사무직 사원',
       '웹프로그래머', '한정식조리장', '개인사업자-학습지교사', '출판사 편집부', '신흥인력',
       '스캐너 판매하는일을 하고 있습니다.', '의료사', '카드 유치영업', '어린이집 교사', '중국집',
       '일반사무 경리', '자산관리컨설팅', '비서', '사업등록증이 모친명의임', '캐디라 당일현금으로받습니다',
       '건물관리,주택관리업체 관리과장', '극동건설(주)울산아파트현장 전화공사', '초등학교 체육강사',
       '기술영업(공장자동화시스템,바코드)', '중학교전산실에 근무합니다.', '남편직업은 이레정밀관리직입니다',
       '의류판매 점장', '배달직', 'LED조명 연구개발', '미술용품도소매', '주)능원금속공업', '영업관리 차장',
       'SK공식대리점', '용산 아이파크점', '한의원 간호조무사', 'lcd유리 (회사)', 'bar', '법무사 직원',
       '백화점 판매', '의류매장', '온라인광고대행', '전기검침업무', '웨딩사진촬영/편집', '에어컨 판매/설치',
       '계약직아르바이트+홀서빙일용직', '국방과학연구소 청원경찰', '전산담당총무&영업', '한국여성정책연구원(국책연구소)',
       '생산직 야간 근무자', '타이마사지샵', '영업판매', '인터넷 방문 as',
       '인천연수지역자활센터 자활도우미로 근무하고 있습니다', '운수회사 과장', 'cnc선반가공', '도소매 판매',
       '시 위탁 기관', '대형 변압기 조립', '야간 경비', '재택 공부방', '섬유회사', '상담원',
       '동우화인켐(외감법인)', '백화점직원', '중고자동차구입자금대출', '보험업', '관리', '옷가게',
       '기능직공무원', '케이지비택배', '분식집', '악세사리장사', '품질관리', '식당서빙',
       '규모가 큰 한식 요식업입니다 직원은 60여명정도 됩니다', '조선업', '5월부터 직장에 다니기 시작합니다.',
       '일반행정직 5급', '베르디 음악 교습소', '프린터 a/s기사', '마트', '코스닥 상장업체 인사총무팀 재직 중',
       '캐드 설계원', '총무부', '부일환경(주)', '시내버스 운전직', '서울메트로', '교습소', '기계정비',
       '시외버스운전기사', '떡볶이 돈가스전문점', '미싱(제조업)', '출판 외주', '회계담당', '영양사',
       '수입도자기영업', '콘택트렌즈 제조회사 사무직', '관리부 총무팀', '서비스', '이탈리아 음식 레스토랑 주방',
       '카드사 콜센터', '창일기업', '산부인과 분만실 간호사', '(주)플라텔 레이저사업부', '디자인 상품 판매',
       '저는 주부이며 남편월급을 제가관리합니다 제 남편은 육군준위입니다', '사회복지시설근무', 'DM회사 사무직',
       '광고회사', '국립공원관리공단', '자비콜택시 방송실 직원', '마트계산원', '자재관리', '흙집기술자',
       '보험설계사+부업', '커피숍, 마트 아르바이트', '자동차관련 영업이사', '판촉및배달', '병원 원무과',
       '전송망기술팀 대리', '아이엠에셋 보험설계사', '기획', '골판지박스', '다이렉트자동차보험', '제조회사의 경리',
       '건축물 전자장비 유지보수 및 관리', '상담관리팀', '응응프로그램 개발', '전기대리',
       '알바중(백화점아울렛프로모션&행사)', '고등부 수학 강사', '특판영업', '정규직', '연구소',
       '롯데리아 부점장', '삼성중공업 용접사', '치구 기계설계,기계자동화설계',
       '맥도날드 배달서비스 주문전화를 받는 일입니다.', '화장품 도.소매 피부관리', '반찬 즉석제조판매업',
       '사무,경리', '철강협력업체', '인바운드 상담직', '한국전력', '현제무직', '세무사무실직원', '해외수입대행',
       '농업', '감정평가법인 감정팀 사무원', '의류사입 및 일본의류수출', '자재관리직', '중학교 교사', '세탁실',
       '편의점', '노무사', '폐차장 경리', '경전철안전요원', '사무관리직입니다', '관리사무소',
       '프랜차이즈 매장관리(수퍼바이저)', '스마트폰터치스크린', '유흥업', '수입업무', '컴퓨터 그래픽 디자이너',
       '학교체육지도자', '상담직', '오픈마켓판매자', '(주)동양매직', '보험대리점 경리회계 과장',
       '증권,보험 판매', '컨텐츠기획팀', '기간제영어교사, 영어강사', '헤드헌터', '개인사업제 사무직',
       '경영컨설팅, 보험대리점', '공공기관 유지보수업체', 'pc및 네트웍 유지보수', '제빵기사', '인바운드',
       '대형마트 유아복 납품영업', '학교회계직원', '용접', 'IT 업종 관리직', '총무직', '식품납품및대리운전',
       '광선로구축공사 설계', '세무사무실 근무', '지게차 운전원', '기술영업', '원자력내식당조리관련',
       'IT 개발자', '대리', '일반음식점', '체육학원 강사', '홈쇼핑 고객상담업무',
       '차(음료)를 로스팅 하여 생산하는 업무', '국가직공무원 7급', '아동복/의류', '일반직',
       '공공기관 무기계약직', '디자인 정직원', '컴퓨터 프로그래머', '백화점 및 패션,코스메틱 광고', '카센터',
       '골프장 직원(대리)', '소방설비및 용역(잔디관리)', '장애인활동보조도우미', '삼성생명', '연구개발',
       '건축일용직', '운영,관리', '조선해양 배관', '공간디자인', '개인택시 나', '악세사리 판매',
       '아르바이트/일용직', '통신관련 영업', '보험설계', '정보통신연구원', '판매', '영업배송 기사',
       '대학교 부설연구소 영업', 'Software engineer', '음식점 계산원으로 일하고 있읍니다',
       '프레스 금형설계', '고흥고등학교 급식소', '양계장,부화장관리', '수퍼마켓', '법원', '가정주부',
       'IT계열', '정부투자기관 근무', '이사짐'], dtype=object)

In [63]:
df["period"] = df["Year"] + df["quarter"]

NameError: name 'df' is not defined

In [64]:
p2p_success['직장세부2']=p2p_success['직장세부'].fillna('알수없음')

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
p2p_success.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2095 entries, 12 to 26849
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          2095 non-null   object
 1   자금모집시작일       2095 non-null   datetime64[ns]
 2   자금모집종료일       2095 non-null   datetime64[ns]
 3   대출자ID         2095 non-null   object
 4   대출신청금액        2095 non-null   int64
 5   연령대           2094 non-null   category
 6   상환기간          2095 non-null   int64
 7   대출자 제시 연 이자율  2095 non-null   float64
 8   매칭방식          2095 non-null   int64
 9   대출용도          1030 non-null   object
 10  투자모집 금액       2095 non-null   float64
 11  투자모집 성공여부     2095 non-null   int64
 12  투자참여인원수       2095 non-null   int64
 13  투자모집(오토비드)    2095 non-null   int64
 14  투자모집(미투비드)    2095 non-null   int64
 15  최종약정이자율       2095 non-null   float64
 16  신용보고서         2095 non-null   int64
 17  소득보고서         2095 non-null   int64
 18  핸드폰번호         2095 non-null   int64
 19  집전화번호         2095 non-null   int64
 20  회사전화번호        2095 non-null   int64
 21  개인정보서류        2095 non-null   int64
 22  월소득(만원)       2095 non-null   int64
 23  월지출(만원)       2095 non-null   float64
 24  상환후여유자금(만원)   2095 non-null   int64
 25  성별            2095 non-null   int64
 26  나이            2094 non-null   float64
 27  사연길이          2095 non-null   int64
 28  추가글 개수        2095 non-null   int64
 29  월지출 상세내역      988 non-null    object
 30  주거형태          1020 non-null   object
 31  거주지역          2067 non-null   object
 32  직종            2062 non-null   object
 33  직장세부          1766 non-null   object
 34  혼인상태          2095 non-null   int64
 35  동거인수          2095 non-null   int64
 36  주거지명의         1021 non-null   object
 37  차량소유          2095 non-null   int64
 38  개인회생          2095 non-null   int64
 39  Q&A수 게시물 수    2095 non-null   int64
 40  지역            2095 non-null   object
 41  직종분류          2095 non-null   object
 42  직장세부2         2095 non-null   object
dtypes: category(1), datetime64[ns](2), float64(5), int64(23), object(12)
memory usage: 706.0+ KB

In [66]:
p2p_success['직종분류2']=p2p_success['직종분류'].astype(str)+[">"]+p2p_success['직장세부2'].astype(str)
p2p_success.head()

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,0,NaN,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,NaN,0,0,37,경기,기타,주부,기타>주부
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,0,NaN,0,0,24,경기,알수없음,알수없음,알수없음>알수없음
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음

In [67]:
p2p_success.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,0,NaN,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,NaN,0,0,37,경기,기타,주부,기타>주부
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,0,NaN,0,0,24,경기,알수없음,알수없음,알수없음>알수없음
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음

In [68]:
p2p_job2=p2p_success[p2p_success['직종분류2'].str.contains("기타")]
p2p_job2.head() 
p2p_job2.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,NaN,0,0,37,경기,기타,주부,기타>주부
248,AFB8D94,2007-10-08 10:04:40,2007-10-23 12:00:00,U595F9D,100,30-40,6,29.0,1,NaN,...,0,0,NaN,0,0,8,경기,기타,주부,기타>주부
255,A57235E,2007-10-12 17:25:50,2007-10-22 12:00:00,U52BE4E,100,40-50,3,29.0,1,NaN,...,0,0,NaN,0,0,5,전남,기타,가정 주부,기타>가정 주부
431,A0F4250,2007-12-05 15:32:52,2007-12-19 12:00:00,UBEB87E,100,50-60,12,29.0,1,NaN,...,0,0,NaN,0,0,9,서울,기타,서비스직,기타>서비스직
467,AD87CD5,2007-12-21 15:47:46,2008-01-05 12:00:00,U90E799,100,40-50,12,29.0,1,NaN,...,0,0,NaN,0,0,3,경기,기타,알수없음,기타>알수없음

In [69]:
p2p_job2['직종분류2'].unique()

array(['기타>주부', '기타>가정 주부', '기타>서비스직', '기타>알수없음', '기타>자재QC', '기타>간호사',
       '기타>프리랜서', '기타>케', '기타>현재 구직급여 수급자입니다.', '기타>보험회사 인바운드상담 +아르바이트',
       '기타>실업급여', '기타>보험대리점', '기타>식당 아르바이트', '기타>아파트 관리 사무소(기계,전기)',
       '기타>방문교사', '기타>유통', '기타>수행기사', '기타>골프캐디', '기타>가사.주부',
       '기타>자동차보험 다이렉트 상담원(영업)', '기타>차량정비사', '기타>취업 준비중입니다',
       '기타>채선당 음식점에서 서빙일을 하구있습니다', '기타>신문배달', '기타>학원강사', '기타>영업사원',
       '기타>기관장(전기반장)', '기타>설비기술직', '기타>악세사리 부업', '기타>농산물유통', '기타>판매직',
       '기타>대리운전', '기타>교육(과외)', '기타>신차판매', '기타>아르바이트', '기타>서비스업종사',
       '기타>호프집서빙', '기타>현대라이프 본사', '기타>물류일용직', '기타>세탁편의점', '기타>사무직',
       '기타>애견샵에서 애견미용합니다..^^', '기타>웅진다책 영업사원', '기타>전기업', '기타>경리아르바이트',
       '기타>자활참여자', '기타>공부방 운영', '기타>판매업', '기타>골프장 캐디 (현장지급)', '기타>제조업',
       '기타>전업주부', '기타>판매서비스업', '기타>노래방직원', '기타>병원원무과', '기타>과외교사',
       '기타>익스프레스 포장팀.', '기타>고시원 총무', '기타>편의점알바', '기타>서비스업',
       '기타>프리랜서(휴대폰관련업종)', '기타>BC카드 추가교체 해피콜', '기타>방문판매(방문학습)',
       '기타>대라운전(서비스업)', '기타>경호원', '기타>시청에서하는자활', '기타>노점판매', '기타>가전제품배송',
       '기타>납품업', '기타>생활체육일반지도자', '기타>개인과외 공부방', '기타>퀵서비스', '기타>택배.화물',
       '기타>태성운수', '기타>요리사', '기타>고객센터상담원', '기타>재택 부업', '기타>무대조명설치',
       '기타>TM', '기타>건설노무자(금속인테리어)', '기타>취업/창업 대기자', '기타>보안원', '기타>제조업근무',
       '기타>학습지영업사원', '기타>무직', '기타>기타', '기타>편집', '기타>베이비시터',
       '기타>초등학교 과학조교', '기타>민간인정규직(학교)', '기타>식당', '기타>pc방',
       '기타>외부관리직[환경미화원]', '기타>교과보충강사', '기타>공장아르바이트', '기타>빌딩 관리소',
       '기타>축산업', '기타>개인과외', '기타>어린이집', '기타>학원지입차량', '기타>택시운전', '기타>관리대리',
       '기타>방산업체 부회장 수행비서', '기타>센터 전산업무및 잡일', '기타>자영업자', '기타>현재는 일용직',
       '기타>IT 엔지니어, 프리랜서', '기타>훼미리마트 판매원', '기타>추레라(트레일러)',
       '기타>사회복지시설 장애인 재활생활교사', '기타>콜센터상담사', '기타>주방 음식조리', '기타>택시기사(법인택시)',
       '기타>유아관련쇼핑몰운영', '기타>사회복지사', '기타>시외버스 운전직', '기타>현재 기업이사전문직 팀장',
       '기타>캐디라 당일현금으로받습니다', '기타>건물관리,주택관리업체 관리과장', '기타>계약직아르바이트+홀서빙일용직',
       '기타>재택 공부방', '기타>상담원', '기타>케이지비택배', '기타>식당서빙',
       '기타>5월부터 직장에 다니기 시작합니다.', '기타>마트', '기타>시내버스 운전직', '기타>떡볶이 돈가스전문점',
       '기타>카드사 콜센터', '기타>저는 주부이며 남편월급을 제가관리합니다 제 남편은 육군준위입니다',
       '기타>자비콜택시 방송실 직원', '기타>마트계산원', '기타>커피숍, 마트 아르바이트',
       '기타>알바중(백화점아울렛프로모션&행사)', '기타>맥도날드 배달서비스 주문전화를 받는 일입니다.',
       '기타>인바운드 상담직', '기타>현제무직', '기타>농업', '기타>의류사입 및 일본의류수출', '기타>편의점',
       '기타>유흥업', '기타>상담직', '기타>물류센터', '기타>식품납품및대리운전', '기타>지게차 운전원',
       '기타>원자력내식당조리관련', '기타>소방설비및 용역(잔디관리)', '기타>건축일용직', '기타>아르바이트/일용직',
       '기타>음식점 계산원으로 일하고 있읍니다', '기타>수퍼마켓', '기타>가정주부'], dtype=object)

In [70]:
p2p_success['직종분류3']=p2p_success['직종'].str.split('>').str[1]
p2p_success['직종분류3']=p2p_success['직종'].str.split('/').str[2]
p2p_success.head()

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2,직종분류3
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,NaN,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음,NaN
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,NaN,0,0,37,경기,기타,주부,기타>주부,NaN
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,NaN,0,0,24,경기,알수없음,알수없음,알수없음>알수없음,NaN
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN

In [71]:
p2p_success['직종분류3'].fillna('알수없음')

12       알수없음
24       알수없음
46       알수없음
48       알수없음
69       알수없음
         ...
26805    알수없음
26826    알수없음
26836    알수없음
26843    알수없음
26849    알수없음
Name: 직종분류3, Length: 2095, dtype: object

In [72]:
p2p_success.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2,직종분류3
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,NaN,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음,NaN
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,NaN,0,0,37,경기,기타,주부,기타>주부,NaN
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,NaN,0,0,24,경기,알수없음,알수없음,알수없음>알수없음,NaN
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,NaN,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN

In [73]:
p2p_success.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2095 entries, 12 to 26849
Data columns (total 45 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          2095 non-null   object
 1   자금모집시작일       2095 non-null   datetime64[ns]
 2   자금모집종료일       2095 non-null   datetime64[ns]
 3   대출자ID         2095 non-null   object
 4   대출신청금액        2095 non-null   int64
 5   연령대           2094 non-null   category
 6   상환기간          2095 non-null   int64
 7   대출자 제시 연 이자율  2095 non-null   float64
 8   매칭방식          2095 non-null   int64
 9   대출용도          1030 non-null   object
 10  투자모집 금액       2095 non-null   float64
 11  투자모집 성공여부     2095 non-null   int64
 12  투자참여인원수       2095 non-null   int64
 13  투자모집(오토비드)    2095 non-null   int64
 14  투자모집(미투비드)    2095 non-null   int64
 15  최종약정이자율       2095 non-null   float64
 16  신용보고서         2095 non-null   int64
 17  소득보고서         2095 non-null   int64
 18  핸드폰번호         2095 non-null   int64
 19  집전화번호         2095 non-null   int64
 20  회사전화번호        2095 non-null   int64
 21  개인정보서류        2095 non-null   int64
 22  월소득(만원)       2095 non-null   int64
 23  월지출(만원)       2095 non-null   float64
 24  상환후여유자금(만원)   2095 non-null   int64
 25  성별            2095 non-null   int64
 26  나이            2094 non-null   float64
 27  사연길이          2095 non-null   int64
 28  추가글 개수        2095 non-null   int64
 29  월지출 상세내역      988 non-null    object
 30  주거형태          1020 non-null   object
 31  거주지역          2067 non-null   object
 32  직종            2062 non-null   object
 33  직장세부          1766 non-null   object
 34  혼인상태          2095 non-null   int64
 35  동거인수          2095 non-null   int64
 36  주거지명의         1021 non-null   object
 37  차량소유          2095 non-null   int64
 38  개인회생          2095 non-null   int64
 39  Q&A수 게시물 수    2095 non-null   int64
 40  지역            2095 non-null   object
 41  직종분류          2095 non-null   object
 42  직장세부2         2095 non-null   object
 43  직종분류2         2095 non-null   object
 44  직종분류3         0 non-null      float64
dtypes: category(1), datetime64[ns](2), float64(6), int64(23), object(13)
memory usage: 738.8+ KB

In [74]:
p2p_job2.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,NaN,0,0,37,경기,기타,주부,기타>주부
248,AFB8D94,2007-10-08 10:04:40,2007-10-23 12:00:00,U595F9D,100,30-40,6,29.0,1,NaN,...,0,0,NaN,0,0,8,경기,기타,주부,기타>주부
255,A57235E,2007-10-12 17:25:50,2007-10-22 12:00:00,U52BE4E,100,40-50,3,29.0,1,NaN,...,0,0,NaN,0,0,5,전남,기타,가정 주부,기타>가정 주부
431,A0F4250,2007-12-05 15:32:52,2007-12-19 12:00:00,UBEB87E,100,50-60,12,29.0,1,NaN,...,0,0,NaN,0,0,9,서울,기타,서비스직,기타>서비스직
467,AD87CD5,2007-12-21 15:47:46,2008-01-05 12:00:00,U90E799,100,40-50,12,29.0,1,NaN,...,0,0,NaN,0,0,3,경기,기타,알수없음,기타>알수없음

In [75]:
p2p_job2['직종'].unique()

array(['기타>기타', '기타', '기타>콜센터', '기타>일용직', '기타>시설관리업체', '기타>운전직'],
      dtype=object)

In [76]:
p2p_success['직종분류'].astype(str)

12        알수없음
24          기타
46        알수없음
48        알수없음
69        알수없음
         ...
26805       기타
26826      공무원
26836    일반회사원
26843    일반회사원
26849    일반회사원
Name: 직종분류, Length: 2095, dtype: object

In [77]:
p2p_success['직종분류5']=p2p_success['직종'].str.split('>').str[1]
p2p_success['직종분류5'].str.replace('nan','알수없음')
p2p_success['직종분류5'].fillna('알수없음')
p2p_success['직종분류5'].unique()

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

array([nan, '기타', '사무직', '영업직', '공기업', '공공기관', '기술직', '간호사', '서비스업', '학원',
       '카드사', '보험설계사', '콜센터', '일용직', '시설관리업체', '운전직', '생산직', '요식업',
       '장교/하사관', '교수/교사', '증권사', '군무원', '법조인', '경찰직', '캐피탈'], dtype=object)

In [78]:
p2p_success['직종분류100']=p2p_success['직종분류']
p2p_success['직종분류100']=np.where(p2p_success['직종분류'].str.contains('기타'),p2p_success['직종'],p2p_success['직종분류'])

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [79]:
p2p_success.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2,직종분류3,직종분류5,직종분류100
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,37,경기,기타,주부,기타>주부,NaN,기타,기타>기타
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,0,24,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음

In [80]:
p2p_success['직종분류'].unique()

array(['알수없음', '기타', '일반회사원', '공무원', '사업자', '전문직', '학생', '금융/보험',
       '공무원/군인', '공기업', '무직', '주부'], dtype=object)

In [81]:
p2p_success['직종분류100'].astype(str)
p2p_success['직종분류100'].str.replace("알수없음","알 수 없음")

12       알 수 없음
24        기타>기타
46       알 수 없음
48       알 수 없음
69       알 수 없음
          ...
26805     기타>기타
26826       공무원
26836     일반회사원
26843     일반회사원
26849     일반회사원
Name: 직종분류100, Length: 2095, dtype: object

In [82]:
p2p_success['직종분류100'].unique()

array(['알수없음', '기타>기타', '일반회사원', '공무원', '사업자', '전문직', '기타', '학생', '금융/보험',
       '공무원/군인', '기타>콜센터', '기타>일용직', '기타>시설관리업체', '기타>운전직', '공기업', '무직',
       '주부'], dtype=object)

In [83]:
a=p2p_success.groupby(['직종분류100'])['대출자ID'].nunique()
a

직종분류100
공기업            2
공무원           37
공무원/군인        18
금융/보험         53
기타            82
기타>기타         73
기타>시설관리업체      4
기타>운전직        12
기타>일용직        19
기타>콜센터        11
무직             1
사업자          126
알수없음         118
일반회사원        429
전문직           51
주부            16
학생             3
Name: 대출자ID, dtype: int64

In [84]:
a.sum()

1055

In [85]:
p2p_success.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2095 entries, 12 to 26849
Data columns (total 47 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          2095 non-null   object
 1   자금모집시작일       2095 non-null   datetime64[ns]
 2   자금모집종료일       2095 non-null   datetime64[ns]
 3   대출자ID         2095 non-null   object
 4   대출신청금액        2095 non-null   int64
 5   연령대           2094 non-null   category
 6   상환기간          2095 non-null   int64
 7   대출자 제시 연 이자율  2095 non-null   float64
 8   매칭방식          2095 non-null   int64
 9   대출용도          1030 non-null   object
 10  투자모집 금액       2095 non-null   float64
 11  투자모집 성공여부     2095 non-null   int64
 12  투자참여인원수       2095 non-null   int64
 13  투자모집(오토비드)    2095 non-null   int64
 14  투자모집(미투비드)    2095 non-null   int64
 15  최종약정이자율       2095 non-null   float64
 16  신용보고서         2095 non-null   int64
 17  소득보고서         2095 non-null   int64
 18  핸드폰번호         2095 non-null   int64
 19  집전화번호         2095 non-null   int64
 20  회사전화번호        2095 non-null   int64
 21  개인정보서류        2095 non-null   int64
 22  월소득(만원)       2095 non-null   int64
 23  월지출(만원)       2095 non-null   float64
 24  상환후여유자금(만원)   2095 non-null   int64
 25  성별            2095 non-null   int64
 26  나이            2094 non-null   float64
 27  사연길이          2095 non-null   int64
 28  추가글 개수        2095 non-null   int64
 29  월지출 상세내역      988 non-null    object
 30  주거형태          1020 non-null   object
 31  거주지역          2067 non-null   object
 32  직종            2062 non-null   object
 33  직장세부          1766 non-null   object
 34  혼인상태          2095 non-null   int64
 35  동거인수          2095 non-null   int64
 36  주거지명의         1021 non-null   object
 37  차량소유          2095 non-null   int64
 38  개인회생          2095 non-null   int64
 39  Q&A수 게시물 수    2095 non-null   int64
 40  지역            2095 non-null   object
 41  직종분류          2095 non-null   object
 42  직장세부2         2095 non-null   object
 43  직종분류2         2095 non-null   object
 44  직종분류3         0 non-null      float64
 45  직종분류5         1444 non-null   object
 46  직종분류100       2095 non-null   object
dtypes: category(1), datetime64[ns](2), float64(6), int64(23), object(15)
memory usage: 771.5+ KB

In [109]:
p2p_final=p2p_success[['대출자ID','성별','연령대','지역','직종분류']]
p2p_final1=p2p_final.drop_duplicates('대출자ID',keep='first')
p2p_final1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1055 entries, 12 to 26743
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대출자ID   1055 non-null   object
 1   성별      1055 non-null   int64
 2   연령대     1054 non-null   category
 3   지역      1055 non-null   object
 4   직종분류    1055 non-null   object
dtypes: category(1), int64(1), object(3)
memory usage: 42.4+ KB

In [110]:
a=p2p_final1.groupby(['성별','연령대','지역','직종분류'])['대출자ID'].nunique().reset_index()
a

      성별   연령대  지역    직종분류  대출자ID
0      1  0-20  강원     공기업      0
1      1  0-20  강원     공무원      0
2      1  0-20  강원  공무원/군인      0
3      1  0-20  강원   금융/보험      0
4      1  0-20  강원      기타      0
...   ..   ...  ..     ...    ...
2587   2   60+  충북    알수없음      0
2588   2   60+  충북   일반회사원      0
2589   2   60+  충북     전문직      0
2590   2   60+  충북      주부      0
2591   2   60+  충북      학생      0

[2592 rows x 5 columns]

In [111]:
p2p_success.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,연령대,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,...,차량소유,개인회생,Q&A수 게시물 수,지역,직종분류,직장세부2,직종분류2,직종분류3,직종분류5,직종분류100
12,A8182D3,2007-05-30 18:26:22,2007-05-31 12:00:00,U684F63,100,40-50,3,25.0,1,NaN,...,0,0,19,알수없음,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
24,AD2C091,2007-06-01 13:29:30,2007-06-05 12:00:00,U595F9D,100,30-40,12,29.0,1,NaN,...,0,0,37,경기,기타,주부,기타>주부,NaN,기타,기타>기타
46,A362607,2007-06-08 14:56:35,2007-06-15 12:00:00,U2CA849,100,30-40,3,28.0,1,NaN,...,0,0,24,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
48,A4262D5,2007-06-10 15:23:30,2007-07-07 12:00:00,U35D98B,200,40-50,12,26.0,1,NaN,...,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음
69,A3F2446,2007-06-18 19:30:12,2007-07-06 12:00:00,UA34242,100,40-50,6,29.0,1,NaN,...,0,0,3,경기,알수없음,알수없음,알수없음>알수없음,NaN,NaN,알수없음

In [112]:
p2p_success.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2095 entries, 12 to 26849
Data columns (total 47 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          2095 non-null   object
 1   자금모집시작일       2095 non-null   datetime64[ns]
 2   자금모집종료일       2095 non-null   datetime64[ns]
 3   대출자ID         2095 non-null   object
 4   대출신청금액        2095 non-null   int64
 5   연령대           2094 non-null   category
 6   상환기간          2095 non-null   int64
 7   대출자 제시 연 이자율  2095 non-null   float64
 8   매칭방식          2095 non-null   int64
 9   대출용도          1030 non-null   object
 10  투자모집 금액       2095 non-null   float64
 11  투자모집 성공여부     2095 non-null   int64
 12  투자참여인원수       2095 non-null   int64
 13  투자모집(오토비드)    2095 non-null   int64
 14  투자모집(미투비드)    2095 non-null   int64
 15  최종약정이자율       2095 non-null   float64
 16  신용보고서         2095 non-null   int64
 17  소득보고서         2095 non-null   int64
 18  핸드폰번호         2095 non-null   int64
 19  집전화번호         2095 non-null   int64
 20  회사전화번호        2095 non-null   int64
 21  개인정보서류        2095 non-null   int64
 22  월소득(만원)       2095 non-null   int64
 23  월지출(만원)       2095 non-null   float64
 24  상환후여유자금(만원)   2095 non-null   int64
 25  성별            2095 non-null   int64
 26  나이            2094 non-null   float64
 27  사연길이          2095 non-null   int64
 28  추가글 개수        2095 non-null   int64
 29  월지출 상세내역      988 non-null    object
 30  주거형태          1020 non-null   object
 31  거주지역          2067 non-null   object
 32  직종            2062 non-null   object
 33  직장세부          1766 non-null   object
 34  혼인상태          2095 non-null   int64
 35  동거인수          2095 non-null   int64
 36  주거지명의         1021 non-null   object
 37  차량소유          2095 non-null   int64
 38  개인회생          2095 non-null   int64
 39  Q&A수 게시물 수    2095 non-null   int64
 40  지역            2095 non-null   object
 41  직종분류          2095 non-null   object
 42  직장세부2         2095 non-null   object
 43  직종분류2         2095 non-null   object
 44  직종분류3         0 non-null      float64
 45  직종분류5         1444 non-null   object
 46  직종분류100       2095 non-null   object
dtypes: category(1), datetime64[ns](2), float64(6), int64(23), object(15)
memory usage: 771.5+ KB

In [116]:
p2p_success.groupby(['성별'])['대출신청금액'].mean()

성별
1    205.211268
2    210.000000
Name: 대출신청금액, dtype: float64

In [124]:
a=p2p_success.groupby(['연령대'])['대출신청금액'].mean()
a.sort_values(ascending=False)

연령대
50-60    222.135417
40-50    220.680346
60+      212.500000
30-40    195.833333
20-30    141.176471
0-20            NaN
Name: 대출신청금액, dtype: float64

In [122]:
aa=p2p_success.groupby(['지역'])['대출신청금액'].mean()
aa.sort_values(ascending=False)

지역
대전      256.875000
광주      242.063492
충북      235.714286
전북      232.142857
천안      225.000000
대구      221.276596
경기      214.406780
충남      214.035088
인천      213.779528
서울      200.000000
전남      198.333333
경남      196.698113
울산      194.285714
제주      193.750000
부산      187.500000
경북      183.870968
강원      181.451613
알수없음    106.250000
Name: 대출신청금액, dtype: float64

In [127]:
aaa=p2p_success.groupby(['직종분류'])['대출신청금액'].mean()
aaa.sort_values(ascending=False)

직종분류
금융/보험     256.696429
사업자       234.865900
공무원       225.757576
전문직       213.865546
일반회사원     209.975816
기타        207.941834
무직        200.000000
공무원/군인    200.000000
주부        155.882353
공기업       150.000000
알수없음      121.666667
학생         75.000000
Name: 대출신청금액, dtype: float64