In [1]:
import pandas as pd

In [2]:
all1=pd.read_excel('/Users/kang/Pandas/Real/all_2010_2013.xlsx')

In [3]:
all2=pd.read_excel('/Users/kang/Pandas/Real/all_2014_2016.xlsx')

In [4]:
all3=pd.read_excel('/Users/kang/Pandas/Real/all_2017_2020.xlsx')

In [29]:
rent1=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_1.xlsx')

In [30]:
rent2=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_2.xlsx')

In [31]:
rent=pd.concat([rent1,rent2])

In [26]:
sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [32]:
rent

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912965,168538,서울특별시,중랑구,중화동,한영(103),월세,50.29,4000,50,5.0,2003,2015,3,6,274-76,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [28]:
sell

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,57229,서울특별시,중랑구,중화동,한신2,84,35700,3,1998,2010,12,30,450,동일로 752
815968,57230,서울특별시,중랑구,중화동,한신2,84,35800,3,1998,2011,2,28,450,동일로 752
815969,57231,서울특별시,중랑구,중화동,한영(104),68,23250,3,2003,2011,7,12,274-77,동일로144길 74
815970,57232,서울특별시,중랑구,중화동,현대휴앤미,82,28000,7,2007,2011,1,27,11,봉화산로27가길 23
815971,57233,서울특별시,중랑구,중화동,현대휴앤미,100,32500,5,2007,2011,5,3,11,봉화산로27가길 23

In [6]:
all=pd.concat([all1,all2,all3])

In [8]:
del all['Unnamed: 0']

In [9]:
all

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307
3,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.00,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307
4,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955019,아파트,서울특별시,중랑구,중화동,한신2,월세,59.76,0,50,50,4.0,1998.0,2017,4,7,450,동일로 752
955020,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,4,25,450,동일로 752
955021,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,7.0,1998.0,2017,5,10,450,동일로 752
955022,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,7,7,450,동일로 752
955023,아파트,서울특별시,중랑구,중화동,현대휴앤미,전세,82.97,0,0,0,7.0,2007.0,2017,2,17,11,봉화산로27가길 23

In [11]:
all['age']=2020-all['year_built']

In [35]:
rent1=rent.loc[rent['monthlyrent']==0]

In [36]:
rent1=rent.loc[rent['category']=='전세']

In [37]:
rent1

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912961,168533,서울특별시,중랑구,중화동,한신2,전세,59.76,24000,0,4.0,1998,2015,6,17,450,동일로 752,22
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [111]:
sell=all.loc[all['category']=='매매']

In [112]:
sell=.groupby(['yy','mm','name','size','floor','age'])['price_sold'].mean()

In [108]:
sell=sell.reset_index()

In [109]:
sell

           yy  mm           name  size  floor   age  price_sold
0        2010   8   \t(104-10)\t  30.0   11.0  26.0      6450.0
1        2010   8  \t(1061-18)\t  28.0    7.0  15.0     16500.0
2        2010   8  \t(1132-59)\t  34.0    1.0  30.0      6500.0
3        2010   8     \t(12-1)\t  43.0    7.0  29.0      9800.0
4        2010   8    \t(134-1)\t  26.0    7.0  19.0      7500.0
...       ...  ..            ...   ...    ...   ...         ...
2059869  2020   7      힐스테이트에코마곡  24.0   12.0   4.0     21000.0
2059870  2020   7      힐스테이트에코문정  20.0    6.0   2.0     23000.0
2059871  2020   7      힐스테이트에코송파  21.0   11.0   3.0     19300.0
2059872  2020   7          힐탑프라자  20.0   11.0  26.0      8900.0
2059873  2020   7          힐탑프라자  20.0   16.0  26.0      8850.0

[2059874 rows x 7 columns]

In [105]:
sell.loc[sell['price_sold']==0]

           yy  mm           name    size  floor   age  price_sold
25775    2011   1        (1-102)   59.97    2.0  23.0         0.0
25776    2011   1      (1617-21)  119.02    1.0  13.0         0.0
25777    2011   1       (372-66)   63.90    4.0  10.0         0.0
25780    2011   1  (633-22)로얄팰리스   95.73    4.0  17.0         0.0
25781    2011   1     (717-20)한성   43.28    3.0  19.0         0.0
...       ...  ..            ...     ...    ...   ...         ...
2059863  2020   7      힐스테이트송파위례  101.80   23.0   4.0         0.0
2059864  2020   7      힐스테이트송파위례  101.80   26.0   4.0         0.0
2059865  2020   7      힐스테이트송파위례  101.80   27.0   4.0         0.0
2059866  2020   7      힐스테이트송파위례  101.95   12.0   4.0         0.0
2059867  2020   7      힐스테이트송파위례  101.95   25.0   4.0         0.0

[1214223 rows x 7 columns]

In [39]:
rent2=rent1.groupby(['yy','mm','name','size','floor','age'])['deposit'].mean()

In [44]:
rent2=rent2.reset_index()

In [45]:
rent2

          yy  mm           name    size  floor  age  deposit
0       2011   1        (1-102)   59.97    2.0   23   3500.0
1       2011   1  (633-22)로얄팰리스   95.73    4.0   17  32000.0
2       2011   1     (717-20)한성   43.28    3.0   19   9000.0
3       2011   1       (739-18)   33.64    5.0   22   7000.0
4       2011   1       (740-25)   59.91    4.0   23  12000.0
...      ...  ..            ...     ...    ...  ...      ...
899549  2020   7      힐스테이트송파위례  101.80   16.0    4  74000.0
899550  2020   7      힐스테이트송파위례  101.80   23.0    4  67000.0
899551  2020   7      힐스테이트송파위례  101.80   27.0    4  77000.0
899552  2020   7      힐스테이트송파위례  101.95   12.0    4  75000.0
899553  2020   7      힐스테이트송파위례  101.95   25.0    4  71500.0

[899554 rows x 7 columns]

In [97]:
df=sell.merge(rent2,how='left',left_on=['yy','mm','name','floor','size','age'],right_on=['yy','mm','name','floor','size','age'])

In [98]:
df

           yy  mm           name  size  floor   age  price_sold  deposit
0        2010   8   \t(104-10)\t  30.0   11.0  26.0      6450.0      NaN
1        2010   8  \t(1061-18)\t  28.0    7.0  15.0     16500.0      NaN
2        2010   8  \t(1132-59)\t  34.0    1.0  30.0      6500.0      NaN
3        2010   8     \t(12-1)\t  43.0    7.0  29.0      9800.0      NaN
4        2010   8    \t(134-1)\t  26.0    7.0  19.0      7500.0      NaN
...       ...  ..            ...   ...    ...   ...         ...      ...
2059869  2020   7      힐스테이트에코마곡  24.0   12.0   4.0     21000.0      NaN
2059870  2020   7      힐스테이트에코문정  20.0    6.0   2.0     23000.0      NaN
2059871  2020   7      힐스테이트에코송파  21.0   11.0   3.0     19300.0      NaN
2059872  2020   7          힐탑프라자  20.0   11.0  26.0      8900.0      NaN
2059873  2020   7          힐탑프라자  20.0   16.0  26.0      8850.0      NaN

[2059874 rows x 8 columns]

In [104]:
df.loc[df['price_sold']==0]

,yy,mm,name,size,floor,age,price_sold,deposit,gap
25775,2011,1,(1-102),59.97,2.0,23.0,0.0,3500.0,-3500.0
25776,2011,1,(1617-21),119.02,1.0,13.0,0.0,0.0,0.0
25777,2011,1,(372-66),63.90,4.0,10.0,0.0,0.0,0.0
25780,2011,1,(633-22)로얄팰리스,95.73,4.0,17.0,0.0,32000.0,-32000.0
25781,2011,1,(717-20)한성,43.28,3.0,19.0,0.0,9000.0,-9000.0
...,...,...,...,...,...,...,...,...,...
2059863,2020,7,힐스테이트송파위례,101.80,23.0,4.0,0.0,67000.0,-67000.0
2059864,2020,7,힐스테이트송파위례,101.80,26.0,4.0,0.0,0.0,0.0
2059865,2020,7,힐스테이트송파위례,101.80,27.0,4.0,0.0,77000.0,-77000.0
2059866,2020,7,힐스테이트송파위례,101.95,12.0,4.0,0.0,75000.0,-75000.0
2059867,2020,7,힐스테이트송파위례,101.95,25.0,4.0,0.0,71500.0,-71500.0

In [99]:
df['deposit'].fillna(0,inplace=True)

In [100]:
df['gap']=df['price_sold']-df['deposit']

In [101]:
df

,yy,mm,name,size,floor,age,price_sold,deposit,gap
0,2010,8,\t(104-10)\t,30.0,11.0,26.0,6450.0,0.0,6450.0
1,2010,8,\t(1061-18)\t,28.0,7.0,15.0,16500.0,0.0,16500.0
2,2010,8,\t(1132-59)\t,34.0,1.0,30.0,6500.0,0.0,6500.0
3,2010,8,\t(12-1)\t,43.0,7.0,29.0,9800.0,0.0,9800.0
4,2010,8,\t(134-1)\t,26.0,7.0,19.0,7500.0,0.0,7500.0
...,...,...,...,...,...,...,...,...,...
2059869,2020,7,힐스테이트에코마곡,24.0,12.0,4.0,21000.0,0.0,21000.0
2059870,2020,7,힐스테이트에코문정,20.0,6.0,2.0,23000.0,0.0,23000.0
2059871,2020,7,힐스테이트에코송파,21.0,11.0,3.0,19300.0,0.0,19300.0
2059872,2020,7,힐탑프라자,20.0,11.0,26.0,8900.0,0.0,8900.0
2059873,2020,7,힐탑프라자,20.0,16.0,26.0,8850.0,0.0,8850.0

In [102]:
df1=df.loc[(df['deposit']>0)&(df['price_sold']>0)&(df['gap']>0)]

In [103]:
df1

,yy,mm,name,size,floor,age,price_sold,deposit,gap
27277,2011,1,고덕시영,43.0,1.0,36.0,7571.428571,5650.000000,1921.428571
27278,2011,1,고덕시영,43.0,2.0,36.0,10580.000000,7000.000000,3580.000000
27279,2011,1,고덕시영,43.0,4.0,36.0,31800.000000,6500.000000,25300.000000
47819,2011,2,고덕시영,43.0,1.0,36.0,17666.666667,4500.000000,13166.666667
67700,2011,3,고덕시영,43.0,2.0,36.0,8583.333333,5333.333333,3250.000000
...,...,...,...,...,...,...,...,...,...
2028422,2020,6,삼익대청아파트,60.0,8.0,28.0,94000.000000,50000.000000,44000.000000
2034538,2020,6,우장산롯데캐슬,85.0,4.0,17.0,56666.666667,51000.000000,5666.666667
2034681,2020,6,워커힐,196.0,5.0,42.0,102500.000000,90000.000000,12500.000000
2052485,2020,7,신대방경남,56.0,5.0,17.0,34500.000000,30500.000000,4000.000000
2059310,2020,7,현대백조,31.0,7.0,23.0,25000.000000,12000.000000,13000.000000

In [88]:
df1.to_excel('/Users/kang/Pandas/Real/gap.xlsx')