In [1]:
import pandas as pd

In [2]:
rent1=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_1.xlsx')

In [3]:
rent2=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_2.xlsx')

In [4]:
rent=pd.concat([rent1,rent2])

In [5]:
sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [6]:
rent

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912965,168538,서울특별시,중랑구,중화동,한영(103),월세,50.29,4000,50,5.0,2003,2015,3,6,274-76,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [7]:
sell

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,57229,서울특별시,중랑구,중화동,한신2,84,35700,3,1998,2010,12,30,450,동일로 752
815968,57230,서울특별시,중랑구,중화동,한신2,84,35800,3,1998,2011,2,28,450,동일로 752
815969,57231,서울특별시,중랑구,중화동,한영(104),68,23250,3,2003,2011,7,12,274-77,동일로144길 74
815970,57232,서울특별시,중랑구,중화동,현대휴앤미,82,28000,7,2007,2011,1,27,11,봉화산로27가길 23
815971,57233,서울특별시,중랑구,중화동,현대휴앤미,100,32500,5,2007,2011,5,3,11,봉화산로27가길 23

In [14]:
sell['age']=2020-sell['year_built']

In [9]:
sell['quarter']=sell['mm'].apply(quarter)

In [15]:
sell['age_range']=pd.cut(sell['age'],[0,5,10,15,20,25,30,35,40,45,50,55,60],include_lowest=True,labels=['-5','-10','-15','-20','-25','-30','-35','-40','-45','-50','-55','-60'],duplicates='raise')

In [16]:
sell

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address,quarter,age,age_range
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103,4Q,32,-35
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103,2Q,32,-35
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3,3Q,33,-35
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3,3Q,33,-35
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3,3Q,33,-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,57229,서울특별시,중랑구,중화동,한신2,84,35700,3,1998,2010,12,30,450,동일로 752,4Q,22,-25
815968,57230,서울특별시,중랑구,중화동,한신2,84,35800,3,1998,2011,2,28,450,동일로 752,1Q,22,-25
815969,57231,서울특별시,중랑구,중화동,한영(104),68,23250,3,2003,2011,7,12,274-77,동일로144길 74,3Q,17,-20
815970,57232,서울특별시,중랑구,중화동,현대휴앤미,82,28000,7,2007,2011,1,27,11,봉화산로27가길 23,1Q,13,-15
815971,57233,서울특별시,중랑구,중화동,현대휴앤미,100,32500,5,2007,2011,5,3,11,봉화산로27가길 23,2Q,13,-15

In [30]:
sell['q2'] = sell.groupby(['age_range'])['price_sold'].transform(lambda x: x.quantile(q=0.2, interpolation='nearest'))
sell['q4'] = sell.groupby(['age_range'])['price_sold'].transform(lambda x: x.quantile(q=0.4, interpolation='nearest'))
sell['q6'] = sell.groupby(['age_range'])['price_sold'].transform(lambda x: x.quantile(q=0.6, interpolation='nearest'))
sell['q8'] = sell.groupby(['age_range'])['price_sold'].transform(lambda x: x.quantile(q=0.8, interpolation='nearest'))

In [41]:
sell.loc[sell['price_sold']<=sell['q2'],'rank']='5'
sell.loc[(sell['price_sold']>sell['q2'])&(sell['price_sold']<=sell['q4']),'rank']='4'
sell.loc[(sell['price_sold']>sell['q4'])&(sell['price_sold']<=sell['q6']),'rank']='3'
sell.loc[(sell['price_sold']>sell['q6'])&(sell['price_sold']<=sell['q8']),'rank']='2'
sell.loc[sell['price_sold']>sell['q8'],'rank']='1'

In [47]:
age=sell.groupby(['age_range','rank'])['price_sold'].count()

In [48]:
age=age.reset_index()

In [56]:
age

   age_range rank  price_sold
0         -5    1        4270
1         -5    2        4306
2         -5    3        4186
3         -5    4        4383
4         -5    5        4298
5        -10    1       15801
6        -10    2       15793
7        -10    3       15779
8        -10    4       15969
9        -10    5       15882
10       -15    1       25431
11       -15    2       27479
12       -15    3       26209
13       -15    4       26744
14       -15    5       26531
15       -20    1       38639
16       -20    2       37799
17       -20    3       39314
18       -20    4       37296
19       -20    5       40193
20       -25    1       28939
21       -25    2       29583
22       -25    3       28952
23       -25    4       29546
24       -25    5       29296
25       -30    1       17182
26       -30    2       17170
27       -30    3       16772
28       -30    4       17086
29       -30    5       17722
30       -35    1       19554
31       -35    2       19073
32       -35    3       19514
33       -35    4       20144
34       -35    5       19604
35       -40    1        7513
36       -40    2        7477
37       -40    3        7549
38       -40    4        7457
39       -40    5        7575
40       -45    1        3133
41       -45    2        3120
42       -45    3        3134
43       -45    4        3263
44       -45    5        3166
45       -50    1        1108
46       -50    2        1111
47       -50    3        1101
48       -50    4        1137
49       -50    5        1115
50       -55    1         109
51       -55    2         111
52       -55    3          93
53       -55    4         124
54       -55    5         114
55       -60    1           3
56       -60    2           3
57       -60    3           7
58       -60    4           5
59       -60    5           5

In [86]:
age['percent']=age['price_sold']/age.groupby('age_range')['price_sold'].sum()

In [89]:
age.groupby(age['age_rank'])['price_sold'].transform(lambda x: x=sum)

SyntaxError: lambda cannot contain assignment (<ipython-input-89-9f2b3c671187>, line 1)

In [85]:
age['price_sold'].astype(float)

0      4270.0
1      4306.0
2      4186.0
3      4383.0
4      4298.0
5     15801.0
6     15793.0
7     15779.0
8     15969.0
9     15882.0
10    25431.0
11    27479.0
12    26209.0
13    26744.0
14    26531.0
15    38639.0
16    37799.0
17    39314.0
18    37296.0
19    40193.0
20    28939.0
21    29583.0
22    28952.0
23    29546.0
24    29296.0
25    17182.0
26    17170.0
27    16772.0
28    17086.0
29    17722.0
30    19554.0
31    19073.0
32    19514.0
33    20144.0
34    19604.0
35     7513.0
36     7477.0
37     7549.0
38     7457.0
39     7575.0
40     3133.0
41     3120.0
42     3134.0
43     3263.0
44     3166.0
45     1108.0
46     1111.0
47     1101.0
48     1137.0
49     1115.0
50      109.0
51      111.0
52       93.0
53      124.0
54      114.0
55        3.0
56        3.0
57        7.0
58        5.0
59        5.0
Name: price_sold, dtype: float64

In [77]:
age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age_range   60 non-null     category
 1   rank        60 non-null     object
 2   price_sold  60 non-null     int64
 3   percent     60 non-null     object
dtypes: category(1), int64(1), object(2)
memory usage: 2.0+ KB

In [ ]:
sell['rank'].nunique()

In [ ]:
sell['rank']=pd.qcut(sell['price_sold'],5,labels=["1","2","3","4","5"],duplicates='raise')

In [ ]:
sell.info()

In [ ]:
sell['age']=2020-sell['year_built']

In [ ]:
rent['quarter']=sell['mm'].apply(quarter)

In [ ]:
rent1=rent.loc[rent['monthlyrent']==0]

In [ ]:
rent1=rent.loc[rent['category']=='전세']

In [ ]:
rent1

In [77]:
sell_q=sell.groupby(['yy','quarter','name','size','age','town','village'])['price_sold'].mean()

In [78]:
sell_q=sell_q.reset_index()

In [79]:
sell_q

          yy quarter          name  size  age  town village     price_sold
0       2010      3Q      (740-24)    34   20   구로구     구로동    9900.000000
1       2010      3Q      (770-40)    46   24   구로구     구로동   13100.000000
2       2010      3Q       (779-8)    84   14   광진구     자양동   43000.000000
3       2010      3Q  (791-21)태영빌라    31   21   구로구     구로동   10500.000000
4       2010      3Q      (792-11)    59   24   구로구     구로동   16000.000000
...      ...     ...           ...   ...  ...   ...     ...            ...
268251  2020      3Q      힐스테이트 청계    59    2  동대문구    답십리동  107666.666667
268252  2020      3Q      힐스테이트 청계    84    2  동대문구    답십리동  135000.000000
268253  2020      3Q       힐스테이트녹번    59    1   은평구     녹번동   88333.333333
268254  2020      3Q     힐스테이트송파위례   101    4   송파구     장지동  156000.000000
268255  2020      3Q       힐스테이트암사    84    1   강동구     암사동  135000.000000

[268256 rows x 8 columns]

In [54]:
rent_q=rent1.groupby(['yy','quarter','name','size','age','town','village'])['deposit'].mean()

In [55]:
rent_q=rent_q.reset_index()

In [56]:
rent_q

          yy quarter           name      size  age town village        deposit
0       2011      1Q        (1-102)   59.9700   23  종로구    명륜3가    3500.000000
1       2011      1Q        (248-7)   73.5350   25  강서구     염창동   17500.000000
2       2011      1Q        (323-4)  106.5100   15  동작구     상도동   18500.000000
3       2011      1Q      (432-904)   52.1100   19   중구     신당동   11000.000000
4       2011      1Q  (633-22)로얄팰리스   95.7300   17  강남구     역삼동   32000.000000
...      ...     ...            ...       ...  ...  ...     ...            ...
292458  2020      4Q        힐스테이트암사   84.9921    1  강동구     암사동   64500.000000
292459  2020      4Q        힐스테이트암사   84.9979    1  강동구     암사동   58666.666667
292460  2020      4Q            힐캐슬   59.4800    8  금천구     시흥동   22000.000000
292461  2020      4Q        힐탑트레져1동  182.8500   17  용산구     한남동  190000.000000
292462  2020      4Q        힐탑트레져1동  231.1900   17  용산구     한남동  150000.000000

[292463 rows x 8 columns]

In [84]:
df=rent_q.merge(sell_q,how='left',on=['yy','quarter','name','size','age','town','village'])

/Users/kang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:1097: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

In [85]:
df

,yy,quarter,name,size,age,town,village,deposit,price_sold
0,2011,1Q,(1-102),59.9700,23,종로구,명륜3가,3500.000000,NaN
1,2011,1Q,(248-7),73.5350,25,강서구,염창동,17500.000000,NaN
2,2011,1Q,(323-4),106.5100,15,동작구,상도동,18500.000000,NaN
3,2011,1Q,(432-904),52.1100,19,중구,신당동,11000.000000,NaN
4,2011,1Q,(633-22)로얄팰리스,95.7300,17,강남구,역삼동,32000.000000,NaN
...,...,...,...,...,...,...,...,...,...
292458,2020,4Q,힐스테이트암사,84.9921,1,강동구,암사동,64500.000000,NaN
292459,2020,4Q,힐스테이트암사,84.9979,1,강동구,암사동,58666.666667,NaN
292460,2020,4Q,힐캐슬,59.4800,8,금천구,시흥동,22000.000000,NaN
292461,2020,4Q,힐탑트레져1동,182.8500,17,용산구,한남동,190000.000000,NaN
292462,2020,4Q,힐탑트레져1동,231.1900,17,용산구,한남동,150000.000000,NaN

In [86]:
df['deposit'].fillna(0,inplace=True)

In [87]:
df['gap']=df['price_sold']-df['deposit']

In [88]:
df

,yy,quarter,name,size,age,town,village,deposit,price_sold,gap
0,2011,1Q,(1-102),59.9700,23,종로구,명륜3가,3500.000000,NaN,NaN
1,2011,1Q,(248-7),73.5350,25,강서구,염창동,17500.000000,NaN,NaN
2,2011,1Q,(323-4),106.5100,15,동작구,상도동,18500.000000,NaN,NaN
3,2011,1Q,(432-904),52.1100,19,중구,신당동,11000.000000,NaN,NaN
4,2011,1Q,(633-22)로얄팰리스,95.7300,17,강남구,역삼동,32000.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
292458,2020,4Q,힐스테이트암사,84.9921,1,강동구,암사동,64500.000000,NaN,NaN
292459,2020,4Q,힐스테이트암사,84.9979,1,강동구,암사동,58666.666667,NaN,NaN
292460,2020,4Q,힐캐슬,59.4800,8,금천구,시흥동,22000.000000,NaN,NaN
292461,2020,4Q,힐탑트레져1동,182.8500,17,용산구,한남동,190000.000000,NaN,NaN
292462,2020,4Q,힐탑트레져1동,231.1900,17,용산구,한남동,150000.000000,NaN,NaN

In [89]:
df1=df.loc[(df['deposit']>0)&(df['gap']>0)]

In [90]:
df1

,yy,quarter,name,size,age,town,village,deposit,price_sold,gap
166,2011,1Q,가락금호아파트,85.0,23,송파구,가락동,30687.500000,61700.000000,31012.500000
167,2011,1Q,가락미륭아파트,50.0,34,송파구,가락동,16460.000000,37000.000000,20540.000000
652,2011,1Q,고덕시영,43.0,36,강동구,고덕동,5035.294118,52569.230769,47533.936652
720,2011,1Q,관악드림(동아),60.0,17,관악구,봉천동,19812.500000,32957.142857,13144.642857
722,2011,1Q,관악드림(동아),102.0,17,관악구,봉천동,23700.000000,50000.000000,26300.000000
...,...,...,...,...,...,...,...,...,...,...
285521,2020,3Q,한신,27.0,33,중랑구,면목동,11000.000000,21900.000000,10900.000000
285553,2020,3Q,한신1,27.0,32,노원구,하계동,13130.000000,25175.000000,12045.000000
285986,2020,3Q,현대백조,31.0,23,송파구,오금동,18900.000000,50000.000000,31100.000000
286032,2020,3Q,현대홈타운,115.0,19,구로구,개봉동,39700.000000,78500.000000,38800.000000
286084,2020,3Q,홍제삼성래미안,60.0,19,서대문구,홍제동,34625.000000,65875.000000,31250.000000

In [64]:
df1.to_excel('/Users/kang/Pandas/Real/gap_quarter.xlsx')

In [29]:
df1['name'].nunique()

135