In [1]:
import pandas as pd

In [2]:
apt_sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [3]:
off_sell=pd.read_excel('/Users/kang/Pandas/Real/off_sell_all.xlsx')

In [18]:
apt_rent1=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_1.xlsx')
apt_rent2=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_2.xlsx')

In [21]:
apt_rent1

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,0,0,8.0,1988,2014,9,1,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,0,0,4.0,1988,2014,12,21,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,0,0,7.0,1988,2014,12,24,655-2,언주로 103
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,0,0,5.0,1987,2014,8,8,658-1,언주로 3
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,0,0,3.0,1987,2014,8,18,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565908,92309,서울특별시,중랑구,중화동,한영(103),전세,50.29,0,0,5.0,2003,2011,3,17,274-76,동일로144길 74
565909,92310,서울특별시,중랑구,중화동,한영(104),전세,67.57,0,0,4.0,2003,2011,1,21,274-77,동일로144길 74
565910,92311,서울특별시,중랑구,중화동,현대휴앤미,전세,82.97,0,0,7.0,2007,2011,4,10,11,봉화산로27가길 23
565911,92312,서울특별시,중랑구,중화동,현대휴앤미,전세,100.20,0,0,6.0,2007,2011,7,28,11,봉화산로27가길 23
565912,92313,서울특별시,중랑구,중화동,현대휴앤미(102동),전세,67.36,0,0,6.0,2007,2011,7,15,11-7,봉화산로27가길 19

In [ ]:
off_sell

In [22]:
apt_sell['category']='매매'
off_sell['category']='매매'
apt_sell['deposit']='미해당'
apt_sell['monthlyrent']='미해당'
off_sell['deposit']='미해당'
off_sell['monthlyrent']='미해당'
apt_rent1['price']='미해당'

In [37]:
apt_sell['type']='아파트'
apt_rent1['type']='아파트'
apt_rent2['type']='아파트'
off_sell['type']='오피스텔'

In [40]:
neworder = [ 'type','city', 'town', 'village', 'name', 'category', 'size','deposit', 'monthlyrent', 'floor', 'year_built', 'yy', 'mm', 'dd','zipcode', 'address']

In [41]:
apt_sell=apt_sell.reindex(columns=neworder)
off_sell=off_sell.reindex(columns=neworder)
apt_rent1=apt_rent1.reindex(columns=neworder)
apt_rent2=apt_rent2.reindex(columns=neworder)

In [47]:
all=pd.concat([apt_sell,off_sell,apt_rent1,apt_rent2])

In [49]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2401078 entries, 0 to 912966
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   type         object
 1   city         object
 2   town         object
 3   village      object
 4   name         object
 5   category     object
 6   size         float64
 7   deposit      object
 8   monthlyrent  object
 9   floor        float64
 10  year_built   float64
 11  yy           int64
 12  mm           int64
 13  dd           int64
 14  zipcode      object
 15  address      object
dtypes: float64(3), int64(3), object(10)
memory usage: 311.4+ MB

In [50]:
all.isnull().sum()

type              0
city              0
town              0
village           0
name              0
category          0
size             31
deposit           0
monthlyrent       0
floor            31
year_built      808
yy                0
mm                0
dd                0
zipcode        1593
address           0
dtype: int64

In [51]:
all.fillna('모름',inplace=True)

In [52]:
all.isnull().sum()

type           0
city           0
town           0
village        0
name           0
category       0
size           0
deposit        0
monthlyrent    0
floor          0
year_built     0
yy             0
mm             0
dd             0
zipcode        0
address        0
dtype: int64

In [65]:
all1=all.loc[all['yy']<2014]
all2=all.loc[(all['yy']>2013)&(all['yy']<2017)]
all3=all.loc[all['yy']>2016]

In [63]:
all1.to_excel('/Users/kang/Pandas/Real/all_2010_2013.xlsx')

In [66]:
all2.to_excel('/Users/kang/Pandas/Real/all_2014_2016.xlsx')

In [ ]:
yongsan=all.loc[all['town']=='용산구']

In [ ]:
yongsan.groupby(['village','yy'])['zi']

In [ ]:
yon